nodered/flows.json
[
    {
        "id": "19e85b17e8f1d4c5",
        "type": "tab",
        "label": "jankengun",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "63585c8101644f02",
        "type": "http in",
        "z": "19e85b17e8f1d4c5",
        "name": "",
        "url": "/hit",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 60,
        "y": 580,
        "wires": [
            [
                "5e256d42cd669e7e"
            ]
        ]
    },
    {
        "id": "f3fd5cdd1ee01f78",
        "type": "http in",
        "z": "19e85b17e8f1d4c5",
        "name": "",
        "url": "/score/:pid",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 740,
        "wires": [
            [
                "4a0b16aad476cbd0"
            ]
        ]
    },
    {
        "id": "8089db8b0bb51705",
        "type": "http response",
        "z": "19e85b17e8f1d4c5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 740,
        "wires": []
    },
    {
        "id": "4a0b16aad476cbd0",
        "type": "template",
        "z": "19e85b17e8f1d4c5",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{req.params.pid}}",
        "output": "str",
        "x": 360,
        "y": 740,
        "wires": [
            [
                "ab30d4bb685144e3"
            ]
        ]
    },
    {
        "id": "2ecfc5e84c6921d2",
        "type": "http in",
        "z": "19e85b17e8f1d4c5",
        "name": "",
        "url": "/player/new",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "34dc351a0fde6269"
            ]
        ]
    },
    {
        "id": "1d22c5f8480cea40",
        "type": "kintone",
        "z": "19e85b17e8f1d4c5",
        "name": "register player",
        "config": "dd33eeebde491733",
        "appId": "8",
        "query": "",
        "records": "",
        "method": "POST",
        "x": 540,
        "y": 420,
        "wires": [
            [
                "6b920e45a1744e9b"
            ]
        ]
    },
    {
        "id": "ee86aa8820d94864",
        "type": "http response",
        "z": "19e85b17e8f1d4c5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 420,
        "wires": []
    },
    {
        "id": "29d74ab95f73e0b0",
        "type": "http in",
        "z": "19e85b17e8f1d4c5",
        "name": "",
        "url": "/ui/entry",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "a4a80688117f0aa6"
            ]
        ]
    },
    {
        "id": "a4a80688117f0aa6",
        "type": "template",
        "z": "19e85b17e8f1d4c5",
        "name": "エントリー画面",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"ja\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>エントリー</title>\n    <link href=\"https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap\" rel=\"stylesheet\">\n    <style>\n        body {\n            font-family: 'M PLUS Rounded 1c', sans-serif;\n            font-weight: 700;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            height: 100vh;\n            overflow: hidden;\n            margin: 0;\n            padding: 0;\n        }\n\n        .back {\n            position: fixed;\n            top: -50%;\n            left: -50%;\n            width: 200%;\n            height: 200%;\n            background-color: #ffbb49;\n            z-index: -1;\n            background-image: url(\"data:image/svg+xml,%3Csvg%20id%3D%22back%22%20data-name%3D%22back%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20296.69%20296.69%22%3E%20%3Cdefs%3E%20%3Cstyle%3E%20.cls-1%20%7B%20fill%3A%20none%3B%20%7D%20.cls-1%2C%20.cls-2%20%7B%20stroke-width%3A%200px%3B%20%7D%20.cls-2%20%7B%20fill%3A%20%23fae7ca%3B%20%7D%20%3C%2Fstyle%3E%20%3C%2Fdefs%3E%20%3Cg%20id%3D%22back%22%20data-name%3D%22back%22%3E%20%3Cg%3E%20%3Crect%20class%3D%22cls-1%22%20width%3D%22296.69%22%20height%3D%22296.69%22%2F%3E%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M145.77%2C38.13v-4.51s0-.05%2C0-.07v-3.83c0-1.34.86-2.47%2C1.89-2.47s1.88%2C1.12%2C1.89%2C2.45v4.58s0%2C0%2C0%2C0v2.43c-1.38.52-2.69%2C1.02-3.77%2C1.42h0ZM139.7%2C44.28c-1.03%2C0-1.89-1.13-1.89-2.47v-8.19c0-1.34.86-2.47%2C1.89-2.47s1.84%2C1.08%2C1.88%2C2.38v6.73s0%2C.02%2C0%2C.03v.53c0%2C.09.04.17.05.26-.08.14-.17.26-.24.41-.25.53-.46%2C1.26-.44%2C2.14-.22.26-.65.65-1.26.65h0ZM131.74%2C44.28c-1.02%2C0-1.88-1.12-1.89-2.45v-4.33c0-1.33.87-2.45%2C1.89-2.45s1.89%2C1.13%2C1.89%2C2.47v4.29c0%2C1.34-.86%2C2.47-1.89%2C2.47h0ZM155.6%2C26.47c1.02%2C0%2C1.89%2C1.19%2C1.89%2C2.59v4.56c-.87.36-2.22.89-3.78%2C1.49v-5.4s0-.01%2C0-.02v-.64c0-1.4.86-2.59%2C1.89-2.59h0ZM169.58%2C42.58s-.02-.04-.03-.06c0-.02%2C0-.05%2C0-.07-.52-2.29-1.06-4.34-1.11-4.5-1.01-2.9-2.84-4.2-4.2-4.79-.82-.35-1.69-.5-2.58-.53v-3.57c0-3.73-2.72-6.77-6.07-6.77-1.72%2C0-3.26.81-4.37%2C2.09-1.01-.82-2.24-1.32-3.59-1.32-2.62%2C0-4.84%2C1.84-5.68%2C4.39-.7-.31-1.46-.49-2.27-.49-2.62%2C0-4.84%2C1.84-5.69%2C4.4-.7-.31-1.47-.49-2.27-.49-3.06%2C0-5.58%2C2.51-5.99%2C5.74-.03.14-.08.26-.08.41v.48s0%2C.01%2C0%2C.02v4.29s0%2C.01%2C0%2C.02v2.93c0%2C5.59%2C0%2C22.59%2C13.35%2C27.15.22.08.45.11.68.11.87%2C0%2C1.68-.55%2C1.98-1.42.37-1.09-.21-2.28-1.3-2.65-6.54-2.24-9.89-8.58-10.43-19.83.57.2%2C1.17.33%2C1.8.33%2C1.53%2C0%2C2.91-.64%2C3.98-1.67%2C1.07%2C1.03%2C2.45%2C1.67%2C3.98%2C1.67%2C1.13%2C0%2C2.21-.38%2C3.16-1.01.51.39%2C1.16.74%2C2.01%2C1.01%2C1.09.35%2C2.4.51%2C3.77.51.8%2C0%2C1.63-.06%2C2.46-.17-1.05%2C1.83-2.1%2C4.31-2.76%2C7.57-.12.61.27%2C1.21.89%2C1.33.08.01.15.02.23.02.53%2C0%2C1-.37%2C1.11-.91.87-4.33%2C2.5-7.13%2C3.73-8.73%2C1.06-.34%2C2.03-.78%2C2.83-1.29.97-.62%2C1.26-1.91.63-2.88-.62-.97-1.92-1.25-2.89-.63-2.09%2C1.34-6.42%2C1.93-8.73%2C1.19-.65-.21-.86-.43-.88-.48-.19-.47-.1-.65-.07-.72.19-.42.9-.82%2C1.39-.99.45-.17%2C11.15-4.15%2C13.32-5.15.94-.43%2C1.9-.47%2C2.7-.13.84.36%2C1.5%2C1.16%2C1.85%2C2.16%2C0%2C.01.51%2C1.93%2C1%2C4.1.67%2C4.21.88%2C20.41-10.26%2C23.42-1.12.3-1.77%2C1.45-1.47%2C2.56.25.93%2C1.1%2C1.54%2C2.01%2C1.54.18%2C0%2C.36-.02.55-.07%2C13.93-3.76%2C14.27-22.03%2C13.29-28.13h0Z%22%2F%3E%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M276.07%2C48.02c-.05-.09-.11-.17-.18-.26-3.36-4.18-10.34.13-11.13.63l-1.18.7%2C7.59-16.91c.62-1.38.75-2.9.37-4.27-.41-1.49-1.41-2.69-2.74-3.28-1.32-.6-2.88-.55-4.27.14-1.28.63-2.33%2C1.74-2.94%2C3.11l-5.28%2C11.76v-14.39c0-3.27-2.35-5.93-5.25-5.93s-5.25%2C2.66-5.25%2C5.93v10.89l-1.61-7.13c-.31-1.45-1.09-2.76-2.21-3.64-1.21-.96-2.72-1.34-4.15-1.04-1.42.3-2.65%2C1.26-3.37%2C2.63-.66%2C1.26-.86%2C2.77-.54%2C4.25l1.5%2C7.11-.65-1.12c-.75-1.31-1.91-2.31-3.24-2.8-1.45-.55-3.01-.44-4.26.29-2.51%2C1.45-3.22%2C4.93-1.59%2C7.76l4.21%2C7.3%2C1.1%2C2.81c.14.44.31%2C1.12.31%2C1.35v1.31c0%2C8.21%2C1.34%2C16.27%2C11.06%2C19.68.22.08.44.11.67.11.83%2C0%2C1.61-.52%2C1.9-1.35.37-1.05-.18-2.2-1.23-2.57-6.99-2.45-8.36-7.68-8.36-15.88v-1.31c0-1.04-.43-2.36-.56-2.74l-1.18-3.02c-.03-.1-.08-.19-.13-.27l-4.28-7.43c-.54-.94-.38-1.96.11-2.25.3-.17.65-.08.84%2C0%2C.45.17.87.55%2C1.16%2C1.04l4.28%2C7.43c.56.84%2C2.04%2C3.06%2C4%2C2.2%2C1.1-.48%2C1.68-1.69%2C1.52-3.15%2C0-.06-.02-.13-.03-.19l-3.18-15.12c-.12-.56-.05-1.12.17-1.55.1-.18.3-.49.64-.56.34-.07.65.13.8.25.38.3.66.79.78%2C1.35l3.31%2C14.61c.03.12.07.24.12.36.54%2C1.25%2C1.8%2C2.63%2C3.54%2C2.42%2C1.56-.19%2C2.59-1.64%2C2.62-3.69v-18.32c0-1.08.64-1.89%2C1.22-1.89s1.22.81%2C1.22%2C1.89v19.71c0%2C.19.03.38.08.56.15.52.77%2C2.25%2C2.42%2C2.49%2C1.19.18%2C2.34-.56%2C3.06-1.96l7.42-16.51c.23-.52.62-.94%2C1.05-1.15.18-.09.53-.22.84-.08.31.14.45.49.5.68.13.47.07%2C1.03-.16%2C1.55l-7.96%2C17.73c-.27.59-.94%2C2.09-.7%2C3.54-2.59%2C1.48-7.29%2C4.76-8.12%2C9.44-.11.59.29%2C1.16.88%2C1.27.07.01.13.02.2.02.52%2C0%2C.98-.37%2C1.07-.9.68-3.78%2C4.79-6.62%2C7.06-7.92.72.58%2C1.62.76%2C2.26.69.29-.03.57-.12.82-.27l3.88-2.31c1.85-1.18%2C4.82-2.31%2C5.74-1.65.08.31.14%2C1.11-.81%2C2.15-1.6%2C1.76-6.05%2C5.33-7.62%2C6.56-.35.27-.59.65-.71%2C1.07-.71%2C2.67-3.54%2C9.88-7.94%2C11.07-1.08.29-1.71%2C1.4-1.42%2C2.47.29%2C1.07%2C1.39%2C1.71%2C2.47%2C1.42%2C6.6-1.79%2C9.8-10.71%2C10.59-13.26%2C1.49-1.18%2C5.8-4.64%2C7.61-6.62%2C2.58-2.82%2C2.01-5.74%2C1.27-7.02h0Z%22%2F%3E%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M51.53%2C43.21l4.9-17.89c.16-.57.49-1.06.92-1.35.19-.13.58-.33.98-.22.73.2%2C1.12%2C1.29.83%2C2.32l-4.35%2C15.88c-.35.1-.7.2-1.05.36-.39.18-1.21.5-2.22.9h0ZM43.84%2C46.12c0-.06.01-.12%2C0-.19l-.09-.43c-.04-.27-.09-.54-.17-.81l-4.3-20.21c-.25-1.16.31-2.13.96-2.27.75-.15%2C1.58.61%2C1.8%2C1.68l4.53%2C21.21c-.99.37-1.93.72-2.72%2C1.02h0ZM37%2C46.68l-1.56-3.37c-.23-.5-.29-1.06-.15-1.53.07-.22.23-.62.63-.8.14-.06.28-.09.44-.09.54%2C0%2C1.26.39%2C1.65%2C1.24l1.56%2C3.38c.08.17.1.34.14.51l.07.33c.02.24%2C0%2C.48-.06.7-.06.22-.23.62-.63.8-.59.27-1.58-.04-2.09-1.15h0ZM34.05%2C51.26c-.06.22-.23.62-.63.8-.58.27-1.58-.04-2.09-1.15l-1.56-3.37c-.23-.5-.29-1.06-.15-1.53.06-.22.23-.62.63-.8.14-.06.29-.09.44-.09.54%2C0%2C1.26.38%2C1.65%2C1.24l1.56%2C3.38c.23.5.29%2C1.06.15%2C1.53h0ZM63.92%2C50.5s-.02-.04-.02-.06c0-.02%2C0-.04%2C0-.06-.45-1.99-.92-3.78-.96-3.92-.89-2.59-2.53-3.76-3.75-4.28-.07-.03-.15-.04-.22-.07l4.1-14.96c.89-3.23-.76-6.51-3.67-7.31-1.45-.4-3.03-.11-4.34.78-1.23.84-2.13%2C2.13-2.54%2C3.63l-3.52%2C12.85-3-14.05c-.7-3.27-3.66-5.42-6.61-4.8-2.95.63-4.78%2C3.81-4.08%2C7.08l2.49%2C11.7c-.47-.13-.94-.21-1.43-.21-.75%2C0-1.47.16-2.15.47-1.35.63-2.38%2C1.84-2.82%2C3.34-.05.16-.06.32-.09.48-.2-.02-.4-.05-.61-.05-.75%2C0-1.47.16-2.15.47-1.35.63-2.38%2C1.84-2.82%2C3.34-.22.74-.28%2C1.52-.2%2C2.3%2C0%2C.06-.04.12-.04.19v4.98c-.02%2C4.88-.06%2C19.72%2C11.63%2C23.73.22.08.44.11.65.11.84%2C0%2C1.63-.53%2C1.92-1.37.36-1.06-.2-2.21-1.26-2.58-5.61-1.93-8.45-7.43-8.85-17.21.98.75%2C2.16%2C1.18%2C3.38%2C1.19.75%2C0%2C1.47-.16%2C2.15-.47%2C1.36-.63%2C2.38-1.84%2C2.82-3.34.04-.16.06-.32.09-.48.2.02.41.05.61.05.04%2C0%2C.08-.01.12-.01.06.37.16.76.32%2C1.18.35.85%2C1.17%2C2.01%2C3.15%2C2.64.96.31%2C2.11.45%2C3.32.46.61%2C0%2C1.23-.04%2C1.86-.11-.86%2C1.56-1.7%2C3.62-2.25%2C6.27-.12.59.26%2C1.17.85%2C1.29.07.02.15.02.22.02.51%2C0%2C.97-.36%2C1.08-.88.74-3.62%2C2.08-5.95%2C3.12-7.34.96-.3%2C1.85-.69%2C2.58-1.16.95-.6%2C1.22-1.85.62-2.8-.6-.94-1.85-1.22-2.8-.62-2.55%2C1.62-7.38%2C1.49-7.99.7-.06-.14-.11-.34-.06-.45.12-.27.68-.6%2C1.09-.74.4-.14%2C9.66-3.58%2C11.56-4.43.75-.35%2C1.52-.38%2C2.16-.11.67.29%2C1.2.94%2C1.48%2C1.73%2C0%2C.01.44%2C1.67.86%2C3.55.56%2C3.64.69%2C17.45-8.77%2C19.98-1.08.29-1.72%2C1.4-1.44%2C2.48.24.9%2C1.06%2C1.5%2C1.95%2C1.5.18%2C0%2C.35-.02.53-.07%2C12.21-3.27%2C12.56-19.23%2C11.72-24.57h0Z%22%2F%3E%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M145.77%2C138.06v-4.51s0-.05%2C0-.07v-3.83c0-1.34.86-2.47%2C1.89-2.47s1.88%2C1.12%2C1.89%2C2.45v4.58s0%2C0%2C0%2C0v2.43c-1.38.52-2.69%2C1.02-3.77%2C1.42h0ZM139.7%2C144.21c-1.03%2C0-1.89-1.13-1.89-2.47v-8.19c0-1.34.86-2.47%2C1.89-2.47s1.84%2C1.08%2C1.88%2C2.38v6.73s0%2C.02%2C0%2C.03v.53c0%2C.09.04.17.05.26-.08.14-.17.26-.24.41-.25.53-.46%2C1.26-.44%2C2.14-.22.26-.65.65-1.26.65h0ZM131.74%2C144.21c-1.02%2C0-1.88-1.12-1.89-2.45v-4.33c0-1.33.87-2.45%2C1.89-2.45s1.89%2C1.13%2C1.89%2C2.47v4.29c0%2C1.34-.86%2C2.47-1.89%2C2.47h0ZM155.6%2C126.4c1.02%2C0%2C1.89%2C1.19%2C1.89%2C2.59v4.56c-.87.36-2.22.89-3.78%2C1.49v-5.4s0-.01%2C0-.02v-.64c0-1.4.86-2.59%2C1.89-2.59h0ZM169.58%2C142.51s-.02-.04-.03-.06c0-.02%2C0-.05%2C0-.07-.52-2.29-1.06-4.34-1.11-4.5-1.01-2.9-2.84-4.2-4.2-4.79-.82-.35-1.69-.5-2.58-.53v-3.57c0-3.73-2.72-6.77-6.07-6.77-1.72%2C0-3.26.81-4.37%2C2.09-1.01-.82-2.24-1.32-3.59-1.32-2.62%2C0-4.84%2C1.84-5.68%2C4.39-.7-.31-1.46-.49-2.27-.49-2.62%2C0-4.84%2C1.84-5.69%2C4.4-.7-.31-1.47-.49-2.27-.49-3.06%2C0-5.58%2C2.51-5.99%2C5.74-.03.14-.08.26-.08.41v.48s0%2C.01%2C0%2C.02v4.29s0%2C.01%2C0%2C.02v2.93c0%2C5.59%2C0%2C22.59%2C13.35%2C27.15.22.08.45.11.68.11.87%2C0%2C1.68-.55%2C1.98-1.42.37-1.09-.21-2.28-1.3-2.65-6.54-2.24-9.89-8.58-10.43-19.83.57.2%2C1.17.33%2C1.8.33%2C1.53%2C0%2C2.91-.64%2C3.98-1.67%2C1.07%2C1.03%2C2.45%2C1.67%2C3.98%2C1.67%2C1.13%2C0%2C2.21-.38%2C3.16-1.01.51.39%2C1.16.74%2C2.01%2C1.01%2C1.09.35%2C2.4.51%2C3.77.51.8%2C0%2C1.63-.06%2C2.46-.17-1.05%2C1.83-2.1%2C4.31-2.76%2C7.57-.12.61.27%2C1.21.89%2C1.33.08.01.15.02.23.02.53%2C0%2C1-.37%2C1.11-.91.87-4.33%2C2.5-7.13%2C3.73-8.73%2C1.06-.34%2C2.03-.78%2C2.83-1.29.97-.62%2C1.26-1.91.63-2.88-.62-.97-1.92-1.25-2.89-.63-2.09%2C1.34-6.42%2C1.93-8.73%2C1.19-.65-.21-.86-.43-.88-.48-.19-.47-.1-.65-.07-.72.19-.42.9-.82%2C1.39-.99.45-.17%2C11.15-4.15%2C13.32-5.15.94-.43%2C1.9-.47%2C2.7-.13.84.36%2C1.5%2C1.16%2C1.85%2C2.16%2C0%2C.01.51%2C1.93%2C1%2C4.1.67%2C4.21.88%2C20.41-10.26%2C23.42-1.12.3-1.77%2C1.45-1.47%2C2.56.25.93%2C1.1%2C1.54%2C2.01%2C1.54.18%2C0%2C.36-.02.55-.07%2C13.93-3.76%2C14.27-22.03%2C13.29-28.13h0Z%22%2F%3E%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M276.07%2C147.94c-.05-.09-.11-.17-.18-.26-3.36-4.18-10.34.13-11.13.63l-1.18.7%2C7.59-16.91c.62-1.38.75-2.9.37-4.27-.41-1.49-1.41-2.69-2.74-3.28-1.32-.6-2.88-.55-4.27.14-1.28.63-2.33%2C1.74-2.94%2C3.11l-5.28%2C11.76v-14.39c0-3.27-2.35-5.93-5.25-5.93s-5.25%2C2.66-5.25%2C5.93v10.89l-1.61-7.13c-.31-1.45-1.09-2.76-2.21-3.64-1.21-.96-2.72-1.34-4.15-1.04-1.42.3-2.65%2C1.26-3.37%2C2.63-.66%2C1.26-.86%2C2.77-.54%2C4.25l1.5%2C7.11-.65-1.12c-.75-1.31-1.91-2.31-3.24-2.8-1.45-.55-3.01-.44-4.26.29-2.51%2C1.45-3.22%2C4.93-1.59%2C7.76l4.21%2C7.3%2C1.1%2C2.81c.14.44.31%2C1.12.31%2C1.35v1.31c0%2C8.21%2C1.34%2C16.27%2C11.06%2C19.68.22.08.44.11.67.11.83%2C0%2C1.61-.52%2C1.9-1.35.37-1.05-.18-2.2-1.23-2.57-6.99-2.45-8.36-7.68-8.36-15.88v-1.31c0-1.04-.43-2.36-.56-2.74l-1.18-3.02c-.03-.1-.08-.19-.13-.27l-4.28-7.43c-.54-.94-.38-1.96.11-2.25.3-.17.65-.08.84%2C0%2C.45.17.87.55%2C1.16%2C1.04l4.28%2C7.43c.56.84%2C2.04%2C3.06%2C4%2C2.2%2C1.1-.48%2C1.68-1.69%2C1.52-3.15%2C0-.06-.02-.13-.03-.19l-3.18-15.12c-.12-.56-.05-1.12.17-1.55.1-.18.3-.49.64-.56.34-.07.65.13.8.25.38.3.66.79.78%2C1.35l3.31%2C14.61c.03.12.07.24.12.36.54%2C1.25%2C1.8%2C2.63%2C3.54%2C2.42%2C1.56-.19%2C2.59-1.64%2C2.62-3.69v-18.32c0-1.08.64-1.89%2C1.22-1.89s1.22.81%2C1.22%2C1.89v19.71c0%2C.19.03.38.08.56.15.52.77%2C2.25%2C2.42%2C2.49%2C1.19.18%2C2.34-.56%2C3.06-1.96l7.42-16.51c.23-.52.62-.94%2C1.05-1.15.18-.09.53-.22.84-.08.31.14.45.49.5.68.13.47.07%2C1.03-.16%2C1.55l-7.96%2C17.73c-.27.59-.94%2C2.09-.7%2C3.54-2.59%2C1.48-7.29%2C4.76-8.12%2C9.44-.11.59.29%2C1.16.88%2C1.27.07.01.13.02.2.02.52%2C0%2C.98-.37%2C1.07-.9.68-3.78%2C4.79-6.62%2C7.06-7.92.72.58%2C1.62.76%2C2.26.69.29-.03.57-.12.82-.27l3.88-2.31c1.85-1.18%2C4.82-2.31%2C5.74-1.65.08.31.14%2C1.11-.81%2C2.15-1.6%2C1.76-6.05%2C5.33-7.62%2C6.56-.35.27-.59.65-.71%2C1.07-.71%2C2.67-3.54%2C9.88-7.94%2C11.07-1.08.29-1.71%2C1.4-1.42%2C2.47.29%2C1.07%2C1.39%2C1.71%2C2.47%2C1.42%2C6.6-1.79%2C9.8-10.71%2C10.59-13.26%2C1.49-1.18%2C5.8-4.64%2C7.61-6.62%2C2.58-2.82%2C2.01-5.74%2C1.27-7.02h0Z%22%2F%3E%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M51.53%2C143.14l4.9-17.89c.16-.57.49-1.06.92-1.35.19-.13.58-.33.98-.22.73.2%2C1.12%2C1.29.83%2C2.32l-4.35%2C15.88c-.35.1-.7.2-1.05.36-.39.18-1.21.5-2.22.9h0ZM43.84%2C146.05c0-.06.01-.12%2C0-.19l-.09-.43c-.04-.27-.09-.54-.17-.81l-4.3-20.21c-.25-1.16.31-2.13.96-2.27.75-.15%2C1.58.61%2C1.8%2C1.68l4.53%2C21.21c-.99.37-1.93.72-2.72%2C1.02h0ZM37%2C146.6l-1.56-3.37c-.23-.5-.29-1.06-.15-1.53.07-.22.23-.62.63-.8.14-.06.28-.09.44-.09.54%2C0%2C1.26.39%2C1.65%2C1.24l1.56%2C3.38c.08.17.1.34.14.51l.07.33c.02.24%2C0%2C.48-.06.7-.06.22-.23.62-.63.8-.59.27-1.58-.04-2.09-1.15h0ZM34.05%2C151.18c-.06.22-.23.62-.63.8-.58.27-1.58-.04-2.09-1.15l-1.56-3.37c-.23-.5-.29-1.06-.15-1.53.06-.22.23-.62.63-.8.14-.06.29-.09.44-.09.54%2C0%2C1.26.38%2C1.65%2C1.24l1.56%2C3.38c.23.5.29%2C1.06.15%2C1.53h0ZM63.92%2C150.42s-.02-.04-.02-.06c0-.02%2C0-.04%2C0-.06-.45-1.99-.92-3.78-.96-3.92-.89-2.59-2.53-3.76-3.75-4.28-.07-.03-.15-.04-.22-.07l4.1-14.96c.89-3.23-.76-6.51-3.67-7.31-1.45-.4-3.03-.11-4.34.78-1.23.84-2.13%2C2.13-2.54%2C3.63l-3.52%2C12.85-3-14.05c-.7-3.27-3.66-5.42-6.61-4.8-2.95.63-4.78%2C3.81-4.08%2C7.08l2.49%2C11.7c-.47-.13-.94-.21-1.43-.21-.75%2C0-1.47.16-2.15.47-1.35.63-2.38%2C1.84-2.82%2C3.34-.05.16-.06.32-.09.48-.2-.02-.4-.05-.61-.05-.75%2C0-1.47.16-2.15.47-1.35.63-2.38%2C1.84-2.82%2C3.34-.22.74-.28%2C1.52-.2%2C2.3%2C0%2C.06-.04.12-.04.19v4.98c-.02%2C4.88-.06%2C19.72%2C11.63%2C23.73.22.08.44.11.65.11.84%2C0%2C1.63-.53%2C1.92-1.37.36-1.06-.2-2.21-1.26-2.58-5.61-1.93-8.45-7.43-8.85-17.21.98.75%2C2.16%2C1.18%2C3.38%2C1.19.75%2C0%2C1.47-.16%2C2.15-.47%2C1.36-.63%2C2.38-1.84%2C2.82-3.34.04-.16.06-.32.09-.48.2.02.41.05.61.05.04%2C0%2C.08-.01.12-.01.06.37.16.76.32%2C1.18.35.85%2C1.17%2C2.01%2C3.15%2C2.64.96.31%2C2.11.45%2C3.32.46.61%2C0%2C1.23-.04%2C1.86-.11-.86%2C1.56-1.7%2C3.62-2.25%2C6.27-.12.59.26%2C1.17.85%2C1.29.07.02.15.02.22.02.51%2C0%2C.97-.36%2C1.08-.88.74-3.62%2C2.08-5.95%2C3.12-7.34.96-.3%2C1.85-.69%2C2.58-1.16.95-.6%2C1.22-1.85.62-2.8-.6-.94-1.85-1.22-2.8-.62-2.55%2C1.62-7.38%2C1.49-7.99.7-.06-.14-.11-.34-.06-.45.12-.27.68-.6%2C1.09-.74.4-.14%2C9.66-3.58%2C11.56-4.43.75-.35%2C1.52-.38%2C2.16-.11.67.29%2C1.2.94%2C1.48%2C1.73%2C0%2C.01.44%2C1.67.86%2C3.55.56%2C3.64.69%2C17.45-8.77%2C19.98-1.08.29-1.72%2C1.4-1.44%2C2.48.24.9%2C1.06%2C1.5%2C1.95%2C1.5.18%2C0%2C.35-.02.53-.07%2C12.21-3.27%2C12.56-19.23%2C11.72-24.57h0Z%22%2F%3E%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M145.77%2C237.98v-4.51s0-.05%2C0-.07v-3.83c0-1.34.86-2.47%2C1.89-2.47s1.88%2C1.12%2C1.89%2C2.45v4.58s0%2C0%2C0%2C0v2.43c-1.38.52-2.69%2C1.02-3.77%2C1.42h0ZM139.7%2C244.13c-1.03%2C0-1.89-1.13-1.89-2.47v-8.19c0-1.34.86-2.47%2C1.89-2.47s1.84%2C1.08%2C1.88%2C2.38v6.73s0%2C.02%2C0%2C.03v.53c0%2C.09.04.17.05.26-.08.14-.17.26-.24.41-.25.53-.46%2C1.26-.44%2C2.14-.22.26-.65.65-1.26.65h0ZM131.74%2C244.13c-1.02%2C0-1.88-1.12-1.89-2.45v-4.33c0-1.33.87-2.45%2C1.89-2.45s1.89%2C1.13%2C1.89%2C2.47v4.29c0%2C1.34-.86%2C2.47-1.89%2C2.47h0ZM155.6%2C226.32c1.02%2C0%2C1.89%2C1.19%2C1.89%2C2.59v4.56c-.87.36-2.22.89-3.78%2C1.49v-5.4s0-.01%2C0-.02v-.64c0-1.4.86-2.59%2C1.89-2.59h0ZM169.58%2C242.43s-.02-.04-.03-.06c0-.02%2C0-.05%2C0-.07-.52-2.29-1.06-4.34-1.11-4.5-1.01-2.9-2.84-4.2-4.2-4.79-.82-.35-1.69-.5-2.58-.53v-3.57c0-3.73-2.72-6.77-6.07-6.77-1.72%2C0-3.26.81-4.37%2C2.09-1.01-.82-2.24-1.32-3.59-1.32-2.62%2C0-4.84%2C1.84-5.68%2C4.39-.7-.31-1.46-.49-2.27-.49-2.62%2C0-4.84%2C1.84-5.69%2C4.4-.7-.31-1.47-.49-2.27-.49-3.06%2C0-5.58%2C2.51-5.99%2C5.74-.03.14-.08.26-.08.41v.48s0%2C.01%2C0%2C.02v4.29s0%2C.01%2C0%2C.02v2.93c0%2C5.59%2C0%2C22.59%2C13.35%2C27.15.22.08.45.11.68.11.87%2C0%2C1.68-.55%2C1.98-1.42.37-1.09-.21-2.28-1.3-2.65-6.54-2.24-9.89-8.58-10.43-19.83.57.2%2C1.17.33%2C1.8.33%2C1.53%2C0%2C2.91-.64%2C3.98-1.67%2C1.07%2C1.03%2C2.45%2C1.67%2C3.98%2C1.67%2C1.13%2C0%2C2.21-.38%2C3.16-1.01.51.39%2C1.16.74%2C2.01%2C1.01%2C1.09.35%2C2.4.51%2C3.77.51.8%2C0%2C1.63-.06%2C2.46-.17-1.05%2C1.83-2.1%2C4.31-2.76%2C7.57-.12.61.27%2C1.21.89%2C1.33.08.01.15.02.23.02.53%2C0%2C1-.37%2C1.11-.91.87-4.33%2C2.5-7.13%2C3.73-8.73%2C1.06-.34%2C2.03-.78%2C2.83-1.29.97-.62%2C1.26-1.91.63-2.88-.62-.97-1.92-1.25-2.89-.63-2.09%2C1.34-6.42%2C1.93-8.73%2C1.19-.65-.21-.86-.43-.88-.48-.19-.47-.1-.65-.07-.72.19-.42.9-.82%2C1.39-.99.45-.17%2C11.15-4.15%2C13.32-5.15.94-.43%2C1.9-.47%2C2.7-.13.84.36%2C1.5%2C1.16%2C1.85%2C2.16%2C0%2C.01.51%2C1.93%2C1%2C4.1.67%2C4.21.88%2C20.41-10.26%2C23.42-1.12.3-1.77%2C1.45-1.47%2C2.56.25.93%2C1.1%2C1.54%2C2.01%2C1.54.18%2C0%2C.36-.02.55-.07%2C13.93-3.76%2C14.27-22.03%2C13.29-28.13h0Z%22%2F%3E%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M276.07%2C247.87c-.05-.09-.11-.17-.18-.26-3.36-4.18-10.34.13-11.13.63l-1.18.7%2C7.59-16.91c.62-1.38.75-2.9.37-4.27-.41-1.49-1.41-2.69-2.74-3.28-1.32-.6-2.88-.55-4.27.14-1.28.63-2.33%2C1.74-2.94%2C3.11l-5.28%2C11.76v-14.39c0-3.27-2.35-5.93-5.25-5.93s-5.25%2C2.66-5.25%2C5.93v10.89l-1.61-7.13c-.31-1.45-1.09-2.76-2.21-3.64-1.21-.96-2.72-1.34-4.15-1.04-1.42.3-2.65%2C1.26-3.37%2C2.63-.66%2C1.26-.86%2C2.77-.54%2C4.25l1.5%2C7.11-.65-1.12c-.75-1.31-1.91-2.31-3.24-2.8-1.45-.55-3.01-.44-4.26.29-2.51%2C1.45-3.22%2C4.93-1.59%2C7.76l4.21%2C7.3%2C1.1%2C2.81c.14.44.31%2C1.12.31%2C1.35v1.31c0%2C8.21%2C1.34%2C16.27%2C11.06%2C19.68.22.08.44.11.67.11.83%2C0%2C1.61-.52%2C1.9-1.35.37-1.05-.18-2.2-1.23-2.57-6.99-2.45-8.36-7.68-8.36-15.88v-1.31c0-1.04-.43-2.36-.56-2.74l-1.18-3.02c-.03-.1-.08-.19-.13-.27l-4.28-7.43c-.54-.94-.38-1.96.11-2.25.3-.17.65-.08.84%2C0%2C.45.17.87.55%2C1.16%2C1.04l4.28%2C7.43c.56.84%2C2.04%2C3.06%2C4%2C2.2%2C1.1-.48%2C1.68-1.69%2C1.52-3.15%2C0-.06-.02-.13-.03-.19l-3.18-15.12c-.12-.56-.05-1.12.17-1.55.1-.18.3-.49.64-.56.34-.07.65.13.8.25.38.3.66.79.78%2C1.35l3.31%2C14.61c.03.12.07.24.12.36.54%2C1.25%2C1.8%2C2.63%2C3.54%2C2.42%2C1.56-.19%2C2.59-1.64%2C2.62-3.69v-18.32c0-1.08.64-1.89%2C1.22-1.89s1.22.81%2C1.22%2C1.89v19.71c0%2C.19.03.38.08.56.15.52.77%2C2.25%2C2.42%2C2.49%2C1.19.18%2C2.34-.56%2C3.06-1.96l7.42-16.51c.23-.52.62-.94%2C1.05-1.15.18-.09.53-.22.84-.08.31.14.45.49.5.68.13.47.07%2C1.03-.16%2C1.55l-7.96%2C17.73c-.27.59-.94%2C2.09-.7%2C3.54-2.59%2C1.48-7.29%2C4.76-8.12%2C9.44-.11.59.29%2C1.16.88%2C1.27.07.01.13.02.2.02.52%2C0%2C.98-.37%2C1.07-.9.68-3.78%2C4.79-6.62%2C7.06-7.92.72.58%2C1.62.76%2C2.26.69.29-.03.57-.12.82-.27l3.88-2.31c1.85-1.18%2C4.82-2.31%2C5.74-1.65.08.31.14%2C1.11-.81%2C2.15-1.6%2C1.76-6.05%2C5.33-7.62%2C6.56-.35.27-.59.65-.71%2C1.07-.71%2C2.67-3.54%2C9.88-7.94%2C11.07-1.08.29-1.71%2C1.4-1.42%2C2.47.29%2C1.07%2C1.39%2C1.71%2C2.47%2C1.42%2C6.6-1.79%2C9.8-10.71%2C10.59-13.26%2C1.49-1.18%2C5.8-4.64%2C7.61-6.62%2C2.58-2.82%2C2.01-5.74%2C1.27-7.02h0Z%22%2F%3E%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M51.53%2C243.06l4.9-17.89c.16-.57.49-1.06.92-1.35.19-.13.58-.33.98-.22.73.2%2C1.12%2C1.29.83%2C2.32l-4.35%2C15.88c-.35.1-.7.2-1.05.36-.39.18-1.21.5-2.22.9h0ZM43.84%2C245.97c0-.06.01-.12%2C0-.19l-.09-.43c-.04-.27-.09-.54-.17-.81l-4.3-20.21c-.25-1.16.31-2.13.96-2.27.75-.15%2C1.58.61%2C1.8%2C1.68l4.53%2C21.21c-.99.37-1.93.72-2.72%2C1.02h0ZM37%2C246.53l-1.56-3.37c-.23-.5-.29-1.06-.15-1.53.07-.22.23-.62.63-.8.14-.06.28-.09.44-.09.54%2C0%2C1.26.39%2C1.65%2C1.24l1.56%2C3.38c.08.17.1.34.14.51l.07.33c.02.24%2C0%2C.48-.06.7-.06.22-.23.62-.63.8-.59.27-1.58-.04-2.09-1.15h0ZM34.05%2C251.11c-.06.22-.23.62-.63.8-.58.27-1.58-.04-2.09-1.15l-1.56-3.37c-.23-.5-.29-1.06-.15-1.53.06-.22.23-.62.63-.8.14-.06.29-.09.44-.09.54%2C0%2C1.26.38%2C1.65%2C1.24l1.56%2C3.38c.23.5.29%2C1.06.15%2C1.53h0ZM63.92%2C250.35s-.02-.04-.02-.06c0-.02%2C0-.04%2C0-.06-.45-1.99-.92-3.78-.96-3.92-.89-2.59-2.53-3.76-3.75-4.28-.07-.03-.15-.04-.22-.07l4.1-14.96c.89-3.23-.76-6.51-3.67-7.31-1.45-.4-3.03-.11-4.34.78-1.23.84-2.13%2C2.13-2.54%2C3.63l-3.52%2C12.85-3-14.05c-.7-3.27-3.66-5.42-6.61-4.8-2.95.63-4.78%2C3.81-4.08%2C7.08l2.49%2C11.7c-.47-.13-.94-.21-1.43-.21-.75%2C0-1.47.16-2.15.47-1.35.63-2.38%2C1.84-2.82%2C3.34-.05.16-.06.32-.09.48-.2-.02-.4-.05-.61-.05-.75%2C0-1.47.16-2.15.47-1.35.63-2.38%2C1.84-2.82%2C3.34-.22.74-.28%2C1.52-.2%2C2.3%2C0%2C.06-.04.12-.04.19v4.98c-.02%2C4.88-.06%2C19.72%2C11.63%2C23.73.22.08.44.11.65.11.84%2C0%2C1.63-.53%2C1.92-1.37.36-1.06-.2-2.21-1.26-2.58-5.61-1.93-8.45-7.43-8.85-17.21.98.75%2C2.16%2C1.18%2C3.38%2C1.19.75%2C0%2C1.47-.16%2C2.15-.47%2C1.36-.63%2C2.38-1.84%2C2.82-3.34.04-.16.06-.32.09-.48.2.02.41.05.61.05.04%2C0%2C.08-.01.12-.01.06.37.16.76.32%2C1.18.35.85%2C1.17%2C2.01%2C3.15%2C2.64.96.31%2C2.11.45%2C3.32.46.61%2C0%2C1.23-.04%2C1.86-.11-.86%2C1.56-1.7%2C3.62-2.25%2C6.27-.12.59.26%2C1.17.85%2C1.29.07.02.15.02.22.02.51%2C0%2C.97-.36%2C1.08-.88.74-3.62%2C2.08-5.95%2C3.12-7.34.96-.3%2C1.85-.69%2C2.58-1.16.95-.6%2C1.22-1.85.62-2.8-.6-.94-1.85-1.22-2.8-.62-2.55%2C1.62-7.38%2C1.49-7.99.7-.06-.14-.11-.34-.06-.45.12-.27.68-.6%2C1.09-.74.4-.14%2C9.66-3.58%2C11.56-4.43.75-.35%2C1.52-.38%2C2.16-.11.67.29%2C1.2.94%2C1.48%2C1.73%2C0%2C.01.44%2C1.67.86%2C3.55.56%2C3.64.69%2C17.45-8.77%2C19.98-1.08.29-1.72%2C1.4-1.44%2C2.48.24.9%2C1.06%2C1.5%2C1.95%2C1.5.18%2C0%2C.35-.02.53-.07%2C12.21-3.27%2C12.56-19.23%2C11.72-24.57h0Z%22%2F%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%3C%2Fsvg%3E\");\n            background-size: 28%;\n            background-repeat: repeat;\n            animation: moveBackground 5s linear infinite;\n            transform: rotate(10deg);\n        }\n\n        @keyframes moveBackground {\n            0% {\n                background-position: 0 0;\n            }\n\n            100% {\n                background-position: -200px -200px;\n            }\n        }\n\n\n        #entry_box {\n            width: 70%;\n            margin: 0 0 50px;\n            padding: 40px;\n            text-align: center;\n            border: 5px solid #FFF;\n            box-shadow: 0px 0px 0px 5px #000, 0px 0px 0px 3px #000 inset;\n            border-radius: 20px;\n            background: rgba(0, 0, 0, 0.8);\n        }\n\n        #logo {\n            width: 50%;\n            height: auto;\n            margin-bottom: 10px;\n            animation: poyopoyo 2s ease-out infinite;\n            opacity: 1;\n        }\n\n        @keyframes poyopoyo {\n\n            0%,\n            40%,\n            60%,\n            80% {\n                transform: scale(1.0);\n            }\n\n            50%,\n            70% {\n                transform: scale(0.95);\n            }\n        }\n\n        #myForm {}\n\n        .name {\n            display: block;\n            margin-bottom: 10px;\n            font-size: 4vw;\n            color: #FFF;\n            text-shadow:\n                -2px -2px 0 #000,\n                2px -2px 0 #000,\n                -2px 2px 0 #000,\n                2px 2px 0 #000;\n            /* 枠線の太さを2pxに設定 */\n            animation: blinker 2.5s linear infinite;\n        }\n\n        @keyframes blinker {\n            50% {\n                opacity: 0;\n            }\n        }\n\n        input {\n            -webkit-appearance: none;\n        }\n\n        input[type=\"text\"] {\n            width: 100%;\n            padding: 10px;\n            margin-bottom: 30px;\n            font-size: 5vw;\n            text-align: center;\n            border: 3px solid #333;\n            border-radius: 10px;\n            box-sizing: border-box;\n        }\n\n        .btn {\n            font-size: 3vw;\n            font-family: 'M PLUS Rounded 1c', sans-serif;\n            color: #fff;\n            padding: 10px 80px;\n            text-align: center;\n            background-color: #f39800;\n            border-radius: 100px;\n            border: none;\n            cursor: pointer;\n            transition: background-color 0.3s;\n            text-transform: uppercase;\n        }\n    </style>\n</head>\n\n<body>\n    <div class=\"back\"></div>\n\n    <div id=\"entry_box\">\n        <svg id=\"logo\" data-name=\"logo\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 477.75 289.03\">\n            <defs>\n                <style>\n                    .cls-1 {\n                        fill: #231815;\n                    }\n\n                    .cls-1,\n                    .cls-2,\n                    .cls-3,\n                    .cls-4,\n                    .cls-5,\n                    .cls-6,\n                    .cls-7,\n                    .cls-8 {\n                        stroke-width: 0px;\n                    }\n\n                    .cls-2 {\n                        fill: #e60012;\n                    }\n\n                    .cls-3 {\n                        fill: #f39800;\n                    }\n\n                    .cls-4 {\n                        fill: #fff100;\n                    }\n\n                    .cls-5 {\n                        fill: #604c3f;\n                    }\n\n                    .cls-6 {\n                        fill: #b5b5b6;\n                    }\n\n                    .cls-7 {\n                        fill: #3b4614;\n                    }\n\n                    .cls-8 {\n                        fill: #fff;\n                    }\n                </style>\n            </defs>\n            <g id=\"logo\" data-name=\"logo\">\n                <g>\n                    <g>\n                        <path class=\"cls-1\"\n                            d=\"M149.72,246.54l-10.52-27.5c17.82-8.94,26.95-29.37,21.7-48.61l27.5-10.52c10.92,34.44-5.74,71.77-38.68,86.64h0ZM55.23,210.87l27.5-10.52c8.94,17.82,29.37,26.95,48.61,21.7l10.52,27.5c-34.44,10.92-71.77-5.75-86.64-38.68h0ZM90.9,116.38l10.52,27.5c-17.82,8.94-26.95,29.37-21.7,48.61l-27.5,10.52c-10.92-34.44,5.74-71.77,38.68-86.64h0ZM122.73,176.03l-10.42-27.23c14.87-3.65,30.44,3.3,37.65,16.81l-27.23,10.42h0ZM125.74,183.89l27.23-10.42c3.65,14.87-3.3,30.43-16.81,37.65l-10.42-27.23h0ZM117.88,186.89l10.42,27.23c-14.87,3.65-30.44-3.3-37.65-16.81l27.23-10.42h0ZM114.88,179.04l-27.23,10.42c-3.65-14.87,3.3-30.43,16.81-37.65l10.42,27.23h0ZM185.39,152.05l-27.5,10.52c-8.94-17.82-29.37-26.95-48.61-21.7l-10.52-27.5c34.44-10.92,71.77,5.75,86.64,38.68h0ZM224.87,136.94l-31.63,12.1c-16.54-37.25-58.72-56.08-97.5-43.52l-12.1-31.63-7.86,3.01,12.1,31.63c-37.25,16.54-56.08,58.72-43.53,97.5l-31.63,12.1,3.01,7.86,31.63-12.1c16.54,37.25,58.72,56.08,97.5,43.53l12.1,31.63,7.86-3.01-12.1-31.63c37.25-16.54,56.08-58.72,43.53-97.5l31.63-12.1-3.01-7.86h0Z\" />\n                        <path class=\"cls-6\"\n                            d=\"M149.72,246.54l-10.52-27.5c17.82-8.94,26.95-29.37,21.7-48.61l27.5-10.52c10.92,34.44-5.74,71.77-38.68,86.64h0ZM55.23,210.87l27.5-10.52c8.94,17.82,29.37,26.95,48.61,21.7l10.52,27.5c-34.44,10.92-71.77-5.75-86.64-38.68h0ZM90.9,116.38l10.52,27.5c-17.82,8.94-26.95,29.37-21.7,48.61l-27.5,10.52c-10.92-34.44,5.74-71.77,38.68-86.64h0ZM122.73,176.03l-10.42-27.23c14.87-3.65,30.44,3.3,37.65,16.81l-27.23,10.42h0ZM125.74,183.89l27.23-10.42c3.65,14.87-3.3,30.43-16.81,37.65l-10.42-27.23h0ZM117.88,186.89l10.42,27.23c-14.87,3.65-30.44-3.3-37.65-16.81l27.23-10.42h0ZM114.88,179.04l-27.23,10.42c-3.65-14.87,3.3-30.43,16.81-37.65l10.42,27.23h0ZM185.39,152.05l-27.5,10.52c-8.94-17.82-29.37-26.95-48.61-21.7l-10.52-27.5c34.44-10.92,71.77,5.75,86.64,38.68h0ZM224.87,136.94l-31.63,12.1c-16.54-37.25-58.72-56.08-97.5-43.52l-12.1-31.63-7.86,3.01,12.1,31.63c-37.25,16.54-56.08,58.72-43.53,97.5l-31.63,12.1,3.01,7.86,31.63-12.1c16.54,37.25,58.72,56.08,97.5,43.53l12.1,31.63,7.86-3.01-12.1-31.63c37.25-16.54,56.08-58.72,43.53-97.5l31.63-12.1-3.01-7.86h0Z\" />\n                    </g>\n                    <g>\n                        <path class=\"cls-3\"\n                            d=\"M35.73,147.98l-5.05,13.36c-8.5-2.74-17.05-4.64-25.68-5.69l4.62-13.43c8.49.92,17.19,2.84,26.11,5.76ZM41.96,127.07l-4.84,13.56c-7.97-2.63-16.56-4.52-25.76-5.67l4.49-13.65c8.59.9,17.29,2.82,26.11,5.76ZM75.12,142.41c-10.91,19.22-25.96,35.25-45.15,48.09l-10.99-11.29c18.72-11.74,33.64-27.61,44.76-47.59l11.37,10.79ZM60.75,126.22l-8.19,3.85c-2.25-3.76-4.78-7.38-7.58-10.87l7.94-3.88c2.73,3.16,5.34,6.79,7.83,10.89ZM71.42,121.17l-8.32,4.04c-2.24-3.71-4.86-7.37-7.85-10.97l8.12-3.84c2.84,2.92,5.53,6.51,8.06,10.76Z\" />\n                        <path class=\"cls-8\"\n                            d=\"M63.36,110.41c2.84,2.92,5.53,6.51,8.06,10.76l-8.32,4.04c-2.24-3.71-4.86-7.37-7.85-10.97l8.12-3.84M52.92,115.33c2.73,3.16,5.34,6.79,7.83,10.89l-8.19,3.85c-2.25-3.76-4.78-7.38-7.58-10.87l7.94-3.88M15.85,121.31c8.59.9,17.29,2.82,26.11,5.76l-4.84,13.56c-7.97-2.63-16.56-4.52-25.76-5.67l4.49-13.65M63.75,131.62l11.37,10.79c-10.91,19.22-25.96,35.25-45.15,48.09l-10.99-11.29c18.72-11.74,33.64-27.61,44.76-47.59M9.62,142.22c8.49.92,17.19,2.84,26.11,5.76l-5.05,13.36c-8.5-2.74-17.05-4.64-25.68-5.69l4.62-13.43M63.36,105.41c-.72,0-1.45.16-2.13.48l-8.12,3.84c-.39.18-.75.41-1.07.68-.45.08-.89.22-1.32.43l-7.94,3.88c-1.37.67-2.35,1.92-2.69,3.4-.24,1.09-.11,2.22.36,3.22-8.09-2.49-16.18-4.17-24.08-5-.17-.02-.35-.03-.52-.03-2.14,0-4.07,1.37-4.75,3.44l-4.49,13.65c-.47,1.42-.27,2.97.52,4.24.04.06.08.12.12.18-1.08.58-1.94,1.55-2.36,2.78l-4.62,13.43c-.49,1.43-.31,3,.49,4.28.8,1.28,2.13,2.13,3.63,2.31,8.17,1,16.39,2.81,24.44,5.39-3.96,3.24-8.13,6.23-12.51,8.98-1.28.8-2.13,2.14-2.31,3.64-.18,1.5.33,3,1.38,4.08l10.99,11.29c.97,1,2.27,1.51,3.58,1.51.96,0,1.93-.28,2.78-.84,19.76-13.22,35.48-29.96,46.72-49.78,1.13-2,.76-4.51-.91-6.1l-10.82-10.26,5.86-2.85c1.26-.61,2.2-1.72,2.6-3.06.4-1.34.22-2.79-.49-3.99-2.72-4.58-5.67-8.51-8.77-11.7-.96-.99-2.26-1.51-3.58-1.51h0ZM39.69,144.92c.96-.57,1.73-1.47,2.14-2.61l4.54-12.71c.66,1,1.29,2.02,1.9,3.04.93,1.55,2.58,2.43,4.29,2.43.71,0,1.44-.15,2.12-.48l2.13-1c-5.65,9.32-12.26,17.69-19.77,25.05l3.37-8.9c.48-1.28.42-2.7-.17-3.93-.15-.32-.34-.62-.55-.9h0Z\" />\n                    </g>\n                    <g>\n                        <path class=\"cls-3\"\n                            d=\"M126.96,116.46c-.17,9.96-1.73,20.46-4.69,31.48l-11.72-1.5c1.73-4.86,3.01-9.64,3.81-14.34l-11.26,3.75,12.01,27.17-11.19,4.08-12.09-27.56-10.57,3.46-3.53-10.55,9.61-3.12-3.6-8.07,11.09-4.19,3.8,8.64,28.32-9.24Z\" />\n                        <path class=\"cls-8\"\n                            d=\"M126.96,116.46c-.17,9.96-1.73,20.46-4.69,31.48l-11.72-1.5c1.73-4.86,3.01-9.64,3.81-14.34l-11.26,3.75,12.01,27.17-11.19,4.08-12.09-27.56-10.57,3.46-3.53-10.55,9.61-3.12-3.6-8.07,11.09-4.19,3.8,8.64,28.32-9.24M126.96,111.46c-.52,0-1.04.08-1.55.25l-24.01,7.83-1.98-4.5c-.82-1.87-2.65-2.99-4.58-2.99-.59,0-1.19.1-1.77.32l-11.09,4.19c-1.29.49-2.32,1.48-2.85,2.75-.53,1.27-.51,2.7.05,3.96l1.34,2.99-4.32,1.4c-1.27.41-2.32,1.31-2.92,2.5-.6,1.19-.7,2.57-.28,3.84l3.53,10.55c.7,2.09,2.65,3.42,4.74,3.42.52,0,1.04-.08,1.56-.25l6.26-2.05,10.27,23.4c.82,1.87,2.65,2.99,4.58,2.99.57,0,1.15-.1,1.71-.3l11.19-4.08c1.3-.47,2.35-1.47,2.89-2.74s.53-2.71-.03-3.98l-3.91-8.84,5.85.75c.21.03.43.04.64.04,2.23,0,4.23-1.5,4.83-3.71,3.05-11.37,4.68-22.36,4.86-32.69.03-1.62-.73-3.15-2.03-4.11-.87-.64-1.91-.98-2.97-.98h0ZM126.96,121.46h0,0Z\" />\n                    </g>\n                    <g>\n                        <path class=\"cls-3\"\n                            d=\"M169.5,105.75l-7.2,13.41c-8.69-4.63-17.53-8.09-26.54-10.39l6.57-13.61c9.63,2.61,18.68,6.13,27.16,10.59ZM203.8,113.71c-10.52,18.69-26.03,34.41-46.52,47.14l-10.91-11.71c20.14-11.56,35.35-26.99,45.63-46.29l11.81,10.86Z\" />\n                        <path class=\"cls-8\"\n                            d=\"M142.35,95.16c9.63,2.61,18.68,6.13,27.16,10.59l-7.2,13.41c-8.69-4.63-17.53-8.09-26.54-10.39l6.57-13.61M191.99,102.85l11.81,10.86c-10.52,18.69-26.03,34.41-46.52,47.14l-10.91-11.71c20.14-11.56,35.35-26.99,45.63-46.29M142.35,90.16c-1.88,0-3.65,1.07-4.5,2.83l-6.57,13.61c-.65,1.35-.66,2.92-.03,4.28.63,1.36,1.84,2.36,3.3,2.74,8.57,2.19,17.13,5.54,25.42,9.96.75.4,1.55.59,2.35.59,1.78,0,3.51-.96,4.41-2.64l7.2-13.41c.63-1.18.77-2.55.37-3.83-.39-1.28-1.27-2.34-2.46-2.96-8.76-4.6-18.24-8.3-28.18-10.99-.43-.12-.87-.17-1.31-.17h0ZM191.99,97.85c-.28,0-.56.02-.84.07-1.53.26-2.85,1.21-3.57,2.58-9.78,18.37-24.49,33.27-43.7,44.3-1.32.76-2.23,2.08-2.46,3.59-.23,1.51.25,3.04,1.29,4.16l10.91,11.71c.97,1.05,2.31,1.59,3.66,1.59.91,0,1.82-.25,2.64-.75,21.12-13.13,37.34-29.59,48.24-48.94,1.14-2.02.74-4.56-.97-6.13l-11.81-10.86c-.93-.86-2.14-1.32-3.38-1.32h0Z\" />\n                    </g>\n                    <g>\n                        <polygon class=\"cls-1\"\n                            points=\"376.67 0 363.77 13.67 350.88 0 348.48 18.64 330.02 15.16 339.02 31.65 322.05 39.69 339.02 47.74 330.02 64.22 348.48 60.75 350.87 79.39 355.73 74.24 355.73 67.6 354.17 69.25 352.39 55.37 338.63 57.96 345.34 45.68 332.7 39.69 345.33 33.7 338.63 21.42 352.39 24.01 354.17 10.14 363.77 20.32 373.37 10.14 375.16 24.01 388.91 21.42 384.28 29.91 389.47 29.91 397.52 15.16 379.06 18.64 376.67 0 376.67 0\" />\n                        <polygon class=\"cls-4\"\n                            points=\"376.67 0 363.77 13.67 350.88 0 348.48 18.64 330.02 15.16 339.02 31.65 322.05 39.69 339.02 47.74 330.02 64.22 348.48 60.75 350.87 79.39 355.73 74.24 355.73 67.6 354.17 69.25 352.39 55.37 338.63 57.96 345.34 45.68 332.7 39.69 345.33 33.7 338.63 21.42 352.39 24.01 354.17 10.14 363.77 20.32 373.37 10.14 375.16 24.01 388.91 21.42 384.28 29.91 389.47 29.91 397.52 15.16 379.06 18.64 376.67 0 376.67 0\" />\n                    </g>\n                    <g>\n                        <path class=\"cls-7\"\n                            d=\"M219.39,206.33c-4.18-2.48-1.61-1.07-2.83-5.78s-11.6-7.83-8.85-11.84c3.15-4.6,10.05,2.78,15.45,1.38s6.06,1.15,11.46-.25c5.41-1.4,4.17-6.17,9.58-7.57s3.48-.76,8.03,2.48c5.41,3.85-.89,3.6.78,10.03s3.99,5.83,5.65,12.27,5.27,5.4,5.38,12.04c-3.07,3.5-4.74,6.65-7.6,9.32-3.51,3.27-4.5,9.69-7.71,11.71-3.11,1.97-8.05,2.45-11.99,4.01-3.44,1.36-7.87,1.33-11.95,2.38-4.91,1.27-9.88.3-14.16.59-5.08.34-8.55-4.17-12.74-5.21-3.92-.97-8.83,2.3-12.2.21s-10.59-.85-13.35-3.95c-2.9-3.26-2.9-9.9-4.95-13.99-1.91-3.8.86-9.55-.31-14.07-1.22-4.73-6.22-8.61-6.36-12.99-.15-4.78.83-9.79,1.96-14.15,1.1-4.23.08-10.45,2.39-14.03s8.08-5.4,11.49-8.28c2.98-2.5,6.7-6.12,11.2-8.06,3.64-1.56,10.3,4.94,14.93,3.74,4.23-1.1,5.97-11.89,9.39-12.43,4.65-.73,9.64.73,12.77,1.04,5.43.53,10.82,4.28,15.08,7.24,4.26,2.96,4.61,6.24,7.77,11.66-4.61,5.37-4.56,3.73-11,6.68-6.44,2.95-5.53,4.63-12.49,5.93-2-3.13-2.8-8.1-5.92-9.23-3.12-1.12-8.05,3.82-12.17,4.88-6.13,1.59-7.87,5.57-10.41,10.78-1.44,2.94-.46,5.01-.32,9.24.11,3.25-6.92,7.84-5.88,11.85,1.08,4.18,6.41,6.51,7.9,9.5,2,4.01,2.89,8.27,5.63,10.13,4.77,3.25,10.37.47,16.95-1.23,3.13-.81,3.71-4.1,6.32-5.75,2.61-1.64,12.87,1.04,15.97-2.09.34-4.39-4.51-3.47-8.4-5.53-4.27-2.25-1.67,2.67-6.35,3.89-3.51.91-3.97-4.09-8.12-6.56Z\" />\n                        <path class=\"cls-7\"\n                            d=\"M215.18,213.44c-2.09-1.24,2.34-5.59,1.74-7.95s-5.22-1.16-5.83-3.52,2.3-3.11,1.69-5.47-.42-1.8.84-3.88,1.82,2.28,4.22,1.66,2.47-.37,4.87-.99,1.85-2.76,4.25-3.38,1.84-2.77,4.25-3.39,1.98-2.24,4.38-2.86,2.56-.02,4.96-.64,1.73-3.21,4.13-3.83,3.85,4.95,6.25,4.32,2.44-4.7,4.58-3.44-1.48,3.3-.85,5.71,3.44,1.68,4.06,4.09-1.16,2.87-.54,5.29,7.1.73,7.72,3.15-5.84,4.08-5.22,6.5,2.51,1.92,3.14,4.34-.75,2.77-.13,5.19,6.79,2.18,6.83,4.67c-1.16,1.33-6.08,4.08-7.21,5.29-1.21,1.29-5.69-.7-6.87.45-1.27,1.25,1.83,7.16.6,8.24-1.34,1.18-1.78,3.86-3.08,4.85-1.43,1.09-7.8-4.83-9.17-3.96-1.3.82-2.88.68-4.32,1.42-1.36.71-1.93,2.7-3.42,3.35-1.41.61-.04,8.61-1.57,9.16s-3.34.73-4.89,1.2-4.01-2.1-5.58-1.69c-1.55.4-3.93-2.88-5.41-2.58-1.57.32-2.88,1.5-4.38,1.71-1.59.22-2.83,4.22-4.34,4.32-1.6.11-3.27-8.76-4.78-8.79-1.6-.03-3.61,8.37-5.11,8.19-1.58-.19-3.24-1.38-4.72-1.74-1.56-.39-1.22-6.39-2.69-6.96s-1.68-2.52-3.08-3.27-7.49,6.3-8.8,5.37-.85-4.39-2.04-5.47-1.95-2.57-3.03-3.77c-.98-1.1-2.32-1.97-3.2-3.17s-4.95-.49-5.73-1.77,2.15-4.78,1.48-6.12-2.72-2.08-3.28-3.47,4.13-4.57,3.66-6-1.72-2.34-2.1-3.8c-.39-1.52-8.66-1.33-8.94-2.81s.66-3.59.49-5.09,5.5-3.6,5.45-5.11-5.15-3.23-5.06-4.75-.15-3.47.08-4.97,3.65-2.62,4.04-4.1c.44-1.68,5.01-1.78,5.64-3.36s.63-3.02,1.46-4.51,3.28-1.32,4.3-2.7-.62-4.38.57-5.64,2.08-2.43,3.41-3.55c1.27-1.07.11-5.76,1.66-6.73,1.41-.88,6.95,5.91,8.6,5.12,1.51-.73,1.15-5.16,2.85-5.81,1.57-.6,3.89,1.32,5.62.78,1.61-.51,2.95-1.43,4.7-1.89,1.58-.41,1.74-6.27,3.21-6.6,1.6-.36,2.53-4.38,4-4.64,1.63-.3,4.65,8.64,6.12,8.46,1.67-.21,2.99,1.19,4.44,1.13,1.71-.07,2.69-1.43,4.1-1.3,1.77.17,4.35-5.24,6-4.81s.51,8.02,2.07,8.74,6.61-5.21,8.05-4.21c1.14.79-.8,5.42.26,6.39s6.84-2.67,7.79-1.58.69,3.4,1.52,4.59c.79,1.12,1.79,6.1,2.52,7.36-1.75,1.58-3.23.98-5.37,1.96s-1.72,1.91-3.86,2.9-1.99,1.32-4.13,2.31-4.93-5.08-7.07-4.1,1.36,8.64-.78,9.63-4.4-3.89-6.75-3.69c-.97-1.52-1.61-2.93-2.85-3.97-1.31-1.11-3.4-.87-5.01-1.45-1.66-.6-3.33-7.15-5.27-7.13-1.71.02-1.99,11.62-3.92,12.12-1.44.37-3.62-3.45-4.86-2.88-1.33.61-6.8-4.76-7.91-3.91s-1.4,4.29-2.3,5.4,5.45,6.65,4.8,7.97c-.62,1.27-5.06.66-5.38,2.17-.29,1.36,1.13,2.83,1.08,4.39-.05,1.39-2.73,2.88-2.59,4.42.13,1.39-3.34,3.62-3.06,5.14.26,1.39,9.62.81,10.01,2.3.4,1.55-5.21,4.68-4.75,6.06.5,1.53,3.54,2.04,4.11,3.37.64,1.49-2.86,5.16-2.13,6.39.82,1.41,3.61,1.89,4.55,2.98,1.06,1.23,1.78,3.64,2.98,4.45,1.25.85,2.89,2.74,4.26,3.25s3.8.59,5.3.77c1.42.16,2.82-8.36,4.36-8.51,1.41-.13,4.49,9.13,5.99,8.74,1.55-.4,3.33-1.94,4.74-2.55s-.29-7.43,1.03-8.26c1.42-.89,3.1-1.09,4.66-2.42,1.31-1.12,5.01-.6,6.43-2.03.12-2.2-1.9-2.05-2.45-4.18s1.59-3.85-.35-4.87c-2.13-1.13-2.94-.25-5.28.35s-1.8,2.68-4.14,3.29-2.46-.32-4.41,1.11c-3.25,2.38-4.79,4.74-6.87,3.51Z\" />\n                        <path class=\"cls-8\"\n                            d=\"M221.58,148.04c1.05,0,2.04.04,2.96.13,5.43.53,10.27,2.27,14.53,5.23,4.26,2.96,7.97,7.15,11.13,12.57l-25.74,11.8c-2-3.13-4.56-5.26-7.68-6.38-1.6-.58-3.34-.87-5.2-.87-1.77,0-3.66.26-5.66.78-6.13,1.59-10.47,4.98-13.01,10.19-2.54,5.2-2.62,12.42-.23,21.64,2.54,9.8,6.19,16.32,10.96,19.57,3.13,2.13,6.65,3.19,10.55,3.19,2.05,0,4.22-.29,6.48-.88,3.13-.81,6-2.03,8.6-3.68,2.61-1.64,5.46-4.03,8.56-7.16l-2.21-8.52-18.71,4.84-4.88-18.84,43.23-11.19,9.99,38.6c-6.81,7.78-13.14,13.52-18.97,17.2-5.83,3.69-13.11,6.66-21.84,8.92-6.37,1.65-12.21,2.47-17.51,2.47-3.65,0-7.04-.39-10.19-1.17-7.72-1.91-14.38-6-19.98-12.29-5.6-6.28-9.62-14.12-12.05-23.5-2.56-9.88-2.75-19-.56-27.37,2.18-8.36,6.72-15.46,13.6-21.28,5.38-4.51,13.25-8.11,23.63-10.8,8.31-2.15,15.04-3.23,20.2-3.23M221.58,142.04c-5.72,0-12.82,1.12-21.7,3.42-11.35,2.94-19.85,6.87-25.98,12.01-7.83,6.63-13.06,14.82-15.55,24.36-2.44,9.32-2.25,19.55.56,30.39,2.66,10.28,7.16,19.02,13.38,25.99,6.39,7.17,14.14,11.92,23.02,14.12,3.6.89,7.51,1.34,11.63,1.34,5.79,0,12.19-.9,19.02-2.66,9.29-2.41,17.21-5.65,23.54-9.65,6.3-3.98,13.12-10.14,20.28-18.32,1.31-1.49,1.79-3.53,1.29-5.46l-9.99-38.6c-.4-1.54-1.39-2.86-2.76-3.67-.93-.55-1.98-.83-3.04-.83-.5,0-1.01.06-1.5.19l-18.68,4.84,17.61-8.08c1.54-.71,2.71-2.03,3.22-3.64s.32-3.37-.54-4.83c-3.59-6.15-7.92-11.02-12.89-14.47-5.09-3.54-10.94-5.65-17.38-6.28-1.11-.11-2.3-.16-3.53-.16h0ZM214.18,219.9c-2.7,0-5.05-.7-7.18-2.15-3.46-2.35-6.41-7.93-8.53-16.11-1.98-7.65-2.04-13.7-.19-17.5,1.77-3.63,4.67-5.86,9.12-7.02,1.5-.39,2.9-.59,4.15-.59,1.18,0,2.22.17,3.17.51,1.86.67,3.38,1.96,4.65,3.96.55.86,1.29,1.54,2.13,2.01l-10.99,2.85c-3.21.83-5.14,4.1-4.3,7.31l4.88,18.84c.4,1.54,1.39,2.86,2.76,3.67.93.55,1.98.83,3.04.83.5,0,1.01-.06,1.5-.19l11.57-3c-1.39,1.2-2.7,2.18-3.91,2.94-2.07,1.3-4.4,2.29-6.91,2.95-1.77.46-3.44.69-4.98.69h0Z\" />\n                    </g>\n                    <g>\n                        <path class=\"cls-7\"\n                            d=\"M306.39,124.03c4.35-5.75,7.41-5.36,14.39-7.17s9.23-3.14,15.86-.3c5.12,2.19,3.1,6.3,4.5,11.69s-6.3,7.39-4.91,12.78,9.32,3.34,10.72,8.73.04,5.75,1.43,11.14-2.02,6.28-.62,11.68c1.39,5.35,3.43,9.99,3,15.18-.44,5.18,2.97,12.62.33,17.1-2.64,4.48-9.17,6.67-12.71,9.13-2.63,1.83-4.36,7.38-7.76,8.79-2.96,1.23-7.59.16-11.13,1.08-4.41,1.14-10.12-1.24-15.49-.51-5.37.73-10.98,5.08-14.95,4.16-3.97-.92-5.18-9.33-8.95-11.95-3.78-2.62-6.26-4.41-8.26-7.71-3.22-5.31-12.73-7.57-13.88-12.01-1.4-5.39,5.73-7.24,4.33-12.63-1.4-5.39,1.28-6.09-.12-11.48s-5.27-4.39-6.67-9.78-4.28-4.65-5.68-10.05-4.79-7.55-1.37-11.95c4.42-5.7,6.62-5.57,13.59-7.37s7.43.23,14.03,3.14c5.22,2.3,5.29,2.4,6.72,7.92,1.43,5.52,3.2,5.07,4.62,10.59s-3.92,6.91-2.49,12.43.45,5.78,1.88,11.3,2.39,5.28,3.82,10.8c1.28,4.94,6.48,4.84,9.94,6.9,3.46,2.07,4.94,3.37,9.79,2.11,4.82-1.25,12.55,1.07,14.58-2.38,2.03-3.44,2.8-10.89,1.5-15.91-1.43-5.52-8.08-3.8-9.51-9.32s2.07-6.43.64-11.95-3.99-4.86-5.42-10.38,2.54-7.05-.31-12c-3.54-6.14-8.89-7.25-5.44-11.8Z\" />\n                        <path class=\"cls-7\"\n                            d=\"M308.95,125.82c1.23-2.06,2.22,1.88,4.55,1.28s.11-9.14,2.44-9.74,5.07,9.99,7.39,9.39,1.77-2.74,4.1-3.34,2.47-.06,4.8-.66,4.24-10.43,6.34-9.25-7.09,8.14-6.51,10.38,10.01-.19,10.59,2.05-5.46,3.81-4.88,6.05-3.11,3.2-2.53,5.45,6.65.68,7.24,2.92.35,2.31.93,4.55-.98,2.65-.4,4.9-3.66,3.35-3.08,5.59,7.69.41,8.27,2.65,1.22,2.08,1.81,4.33.94,2.16,1.52,4.41-1.83,2.88-1.25,5.13c.45,1.74,2.77,3.22,3.03,4.95s-7.61,4.08-7.55,5.83,5.41,3.32,5.26,5.08c-.15,1.72,5.22,4.68,4.83,6.32s-6.35,1.97-7,3.55-4.61,1.17-5.48,2.65c-.82,1.39,6.12,8.04,5.21,9.24-.98,1.29-5.84-.3-6.91.76-1.14,1.12-2.32,2.4-3.57,3.27-1.36.95-4.63-1.29-6.2-.46-1.46.78-2.84,1.29-4.48,1.97-1.53.64-3.17.46-4.86,1.01-1.58.52-1.9,5.24-3.62,5.68-1.56.4-4.6-5.82-6.28-5.47-1.58.33-1.72,8.09-3.4,8.38-1.59.27-3.93-4.15-5.62-3.92-1.62.22-2.78,3.47-4.28,3.54-1.64.08-2.81-5.99-4.3-6.1-1.64-.12-3.68,5.79-5.13,5.45-1.38-.32-3.6,1.34-4.96.82s-.87-5-2.15-5.7-5.62,3.47-6.82,2.64c-1.18-.82,3.39-8.83,2.38-9.72-1.08-.95-8.4,4.41-9.27,3.39-.93-1.08-.55-3.69-1.26-4.86-.97-1.6,3.71-6.18,2.93-7.7-.86-1.67-10.13.54-10.76-1.04-.7-1.75,7.48-6.4,7.05-8.04-.58-2.24-3.77-1.42-4.35-3.66s3.54-3.31,2.96-5.56-10.06.21-10.64-2.04,4.92-3.67,4.34-5.92,3.81-3.38,3.22-5.63-8.3-.25-8.88-2.5,2.2-2.97,1.61-5.21,3.16-3.22,2.58-5.46-5.66-.93-6.24-3.18-.83-2.19-1.41-4.44-4.6-1.21-5.19-3.46,3.37-3.62,4.58-5.6,2.21.39,4.53-.21,2.94,1.77,5.26,1.16.43-7.91,2.76-8.52,2.15-1.3,4.47-1.9,2.55.26,4.88-.34,6.46-4.03,8.54-2.83-4.61,8.01-4.02,10.31,4.78,1.22,5.37,3.52-2.44,3.08-1.85,5.38,3.09,1.65,3.69,3.95,3.38,1.58,3.98,3.88-3.93,3.47-3.33,5.77.7,2.28,1.29,4.58-.81,2.66-.22,4.97-.11,2.48.49,4.78,5.96.92,6.55,3.22,3,1.68,3.6,3.99-7.44,4.39-6.85,6.69c.39,1.49,2.28,2.75,2.87,3.98.66,1.38,6.8-1.58,7.71-.53.96,1.11-.57,3.07.68,3.81,1.23.74,1.97-.43,3.38-.12s1.63,1.29,3.13,1.21c1.35-.08,2.47,1.22,3.94.84,1.46-.38,3.27.99,4.48.4,1.35-.65-.83-5.24.19-6.15,1.08-.95,1.72-.34,2.45-1.57.74-1.25.99-1.26,1.29-2.71.28-1.36-.57-1.69-.67-3.22-.09-1.36.74-2.14.35-3.65-.59-2.3,3.48-3.35,2.89-5.65s.04-2.46-.56-4.76-1.51-2.06-2.1-4.36-4.04-1.41-4.64-3.71,5.38-3.85,4.78-6.15-.4-2.35-.99-4.65-8.79-.18-9.38-2.48,5.52-3.88,4.93-6.18-.3-2.38-.89-4.68-4.2-1.37-4.8-3.67,6.45-4.77,5.55-6.97c-.82-2.01-5.65-.35-4.43-2.4Z\" />\n                        <path class=\"cls-8\"\n                            d=\"M335.99,118.07l13.96,53.94c1.39,5.35,1.86,10.61,1.42,15.8-.44,5.18-1.98,10.02-4.62,14.5-2.64,4.48-5.73,7.95-9.27,10.4-4.91,3.42-11.18,6.12-18.79,8.09-4.41,1.14-9.29,2.08-14.66,2.81-2.37.32-4.61.48-6.71.48-2.65,0-5.09-.26-7.3-.77-3.97-.92-7.85-2.7-11.62-5.32-3.78-2.62-6.66-5.58-8.66-8.89-3.22-5.31-5.41-10.19-6.55-14.63l-13.96-53.94,27.91-7.23,14.3,55.22c1.28,4.94,3.65,8.44,7.1,10.51,2.15,1.29,4.57,1.93,7.26,1.93,1.64,0,3.38-.24,5.21-.71,4.82-1.25,8.24-3.59,10.27-7.04,2.03-3.44,2.39-7.68,1.09-12.69l-14.3-55.22,27.91-7.23M335.99,112.07c-.5,0-1,.06-1.51.19l-27.91,7.23c-1.54.4-2.86,1.39-3.67,2.76-.81,1.37-1.04,3.01-.64,4.55l14.3,55.22c.89,3.45.74,6.11-.46,8.15-1.2,2.03-3.36,3.43-6.6,4.27-1.34.35-2.59.52-3.71.52-1.6,0-2.97-.35-4.18-1.08-2.07-1.24-3.5-3.48-4.38-6.86l-14.3-55.22c-.4-1.54-1.39-2.86-2.76-3.67-.93-.55-1.98-.83-3.04-.83-.5,0-1.01.06-1.5.19l-27.91,7.23c-3.21.83-5.14,4.1-4.3,7.31l13.96,53.94c1.29,4.99,3.72,10.45,7.23,16.24,2.42,4.01,5.91,7.61,10.37,10.7,4.38,3.05,8.99,5.14,13.69,6.24,2.65.62,5.56.93,8.66.93,2.36,0,4.89-.18,7.52-.54,5.58-.76,10.75-1.75,15.36-2.94,8.27-2.14,15.25-5.16,20.72-8.98,4.23-2.93,7.93-7.06,11.01-12.27,3.09-5.24,4.92-10.98,5.43-17.04.49-5.84-.04-11.83-1.59-17.81l-13.96-53.94c-.7-2.7-3.14-4.5-5.8-4.5h0Z\" />\n                    </g>\n                    <g>\n                        <path class=\"cls-7\"\n                            d=\"M344.71,118.33c3.83-5.56,3.08-6.58,9.61-8.27,6.53-1.69,6.04,3.88,12.63,5.31,6.11,1.32,8.12-4.01,12.83.11s-.54,10.11,4.17,14.23,10.48-2.46,15.18,1.66,5.13,3.64,9.84,7.77-.92,12.47,4.23,8.92c5.32-3.68,4.03-4.26,2.41-10.52-1.62-6.26-6.3-5.05-7.92-11.31s3.54-7.6,1.92-13.86-15.62-9-12.19-14.49c3.6-5.78,10.11-3.84,16.7-5.55s10.36-5.24,16.48-2.24c5.25,2.57-2.32,10.12-.85,15.78,1.46,5.66,5.65,4.57,7.12,10.23s-.63,6.2.84,11.85,3.52,5.12,4.99,10.78.42,5.93,1.88,11.59-.28,6.11,1.19,11.77-2.07,6.58-.6,12.24,9.33,4.83,5.99,9.63c-3.89,5.59-4.48,6.88-11.07,8.59s-8.56,4.4-15.22,2.99c-6.08-1.29-7.66-3.79-12.34-7.88s-2.44-6.65-7.12-10.74-3.87-5.02-8.54-9.11-1.96-7.2-6.64-11.29-3.13-5.17-8.24-1.64-3.9,2.48-2.29,8.69,5.66,5.16,7.27,11.37,5.39,5.24,6.99,11.45,4.23,10.22.81,15.66c-3.61,5.76-8.43,4.08-15,5.78s-5.61-2.98-11.71-5.98c-5.24-2.58-8.67.71-10.14-4.94s8.38-8.21,6.92-13.86-4.1-4.97-5.56-10.63-1.12-5.75-2.59-11.4-10.13-3.42-11.59-9.08-.93-5.8-2.39-11.45,2.55-6.46.34-11.88c-1.91-4.69-1.62-5.48,1.7-10.3Z\" />\n                        <path class=\"cls-7\"\n                            d=\"M342.43,116.7c1.05-1.99,1.96-.16,4.13-.73s2.43.43,4.61-.14,1.2-4.33,3.38-4.89,3.81,5.76,5.99,5.2,1.54-3.05,3.71-3.61.53,1.39,2.72,1.95c2.33.6,2.79-2.88,4.6-1.3s-1.16,4.97.65,6.55,4.87-1.91,6.68-.32-.69,4.44,1.12,6.02,4.45-1.42,6.25.17,5.32-2.42,7.13-.83-1.76,5.66.05,7.25,4.33-1.29,6.14.3-2.88,6.94-1.07,8.53,3.56-.41,5.37,1.17,2.76.5,4.57,2.09-2.32,6.3-.51,7.89,5.01-.11,7.11-1.29,3.75-3.06,3.16-5.33-4.35-1.3-4.94-3.57-5.9-.9-6.49-3.18,9.33-4.84,8.74-7.12-5.04-1.12-5.63-3.4-6.03-.87-6.62-3.15,2.67-3.12,2.08-5.4,3.38-3.3,2.79-5.58-2.29-1.84-2.88-4.12-.35-2.34-.94-4.62-7.56-4.72-6.4-6.77,5.25-3.06,7.45-3.63,3.91,6.07,6.11,5.5,2.04-1.16,4.24-1.73,3.26,3.55,5.46,2.98.18-8.37,2.38-8.94.99,3.54,2.91,4.77c2.07,1.33,7.99-2.32,8.61.06s-8.42,4.72-7.8,7.1,1.33,2.2,1.95,4.58.36,2.45.98,4.83,8.56.33,9.18,2.71.37,2.45.99,4.83-4.37,3.67-3.76,6.06-3.11,3.34-2.5,5.72,5.65,1.08,6.27,3.46,4.53,1.37,5.15,3.75.65,2.37,1.27,4.75-8.07,4.63-7.45,7.01,9.17.17,9.78,2.55,1.8,2.08,2.41,4.46-7.08,4.37-6.46,6.76-1.52,2.93-.9,5.32,2.77,1.83,3.38,4.21,4.45,1.4,5.06,3.78-1.41,2-2.57,4.17c-1.07,2-1.17-2.11-3.36-1.55s-2.23.45-4.42,1.02-.02,8.97-2.22,9.54-4.81-9.54-7.01-8.97-1.63,2.78-3.83,3.35-1.77,6.83-3.97,6.28c-2.32-.58-1.92-2.7-3.72-4.27s-1.36-2.07-3.16-3.64-2.81-.41-4.61-1.99-1.81-1.56-3.61-3.13-2.24-1.07-4.03-2.65-1.91-1.44-3.71-3.02,1.87-5.76.07-7.34-.81-2.7-2.61-4.27-1.63-1.77-3.43-3.34-4.86,1.92-6.66.35-.52-3.04-2.32-4.61-1.48-1.94-3.29-3.52-1.54.44-3.63,1.61,4.52-2.07,5.11.19-4.76,3.64-4.18,5.9.93,2.17,1.52,4.43-.01,2.41.57,4.67,1.43,2.04,2.02,4.3-4.3,3.52-3.72,5.78,1.09,2.13,1.67,4.39,9.17.04,9.75,2.3-1.95,2.92-1.36,5.18-.75,2.61-.17,4.87-3.69.02-4.84,2.05,3.58,6.8,1.39,7.37-1.74,2.3-3.93,2.86-3.63-4.99-5.82-4.43-1.34,3.86-3.53,4.43-3.5-4.46-5.69-3.89-.48,2.2-2.39.97c-2.07-1.33,2.87-1.4,2.25-3.78s-3.1-1.74-3.71-4.12-3.9-1.53-4.52-3.91,1.64-2.97,1.03-5.35,2.72-3.25,2.11-5.63.3-2.62-.32-5-11.15.34-11.76-2.04,2-3.06,1.38-5.44-1.78-2.08-2.4-4.46-2.82-1.81-3.44-4.19,8.82-4.83,8.21-7.21-9.45-.1-10.06-2.48.79-2.75.17-5.13,7.88-4.58,7.26-6.97-7.04-.72-7.66-3.1-4.89-1.28-5.51-3.66,2.31-3.14,1.7-5.53,5.4-4.52,4.38-6.77-4.79-1.14-3.63-3.32Z\" />\n                        <path class=\"cls-8\"\n                            d=\"M428.63,94.09l23.44,90.54-26.37,6.83-46.77-40.93,12.87,49.71-26.31,6.81-23.44-90.54,26.12-6.76,47.06,41.26-12.97-50.09,26.37-6.83M428.64,88.09c-.5,0-1,.06-1.51.19l-26.37,6.83c-3.21.83-5.14,4.1-4.3,7.31l8.08,31.23-32.41-28.42c-1.11-.97-2.52-1.49-3.96-1.49-.5,0-1.01.06-1.5.19l-26.12,6.76c-1.54.4-2.86,1.39-3.67,2.76-.81,1.37-1.04,3.01-.64,4.55l23.44,90.54c.4,1.54,1.39,2.86,2.76,3.67.93.55,1.98.83,3.04.83.5,0,1.01-.06,1.5-.19l26.31-6.81c3.21-.83,5.14-4.1,4.3-7.31l-8-30.89,32.14,28.13c1.11.97,2.51,1.48,3.95,1.48.5,0,1.01-.06,1.5-.19l26.37-6.83c1.54-.4,2.86-1.39,3.67-2.76.81-1.37,1.04-3.01.64-4.55l-23.44-90.54c-.7-2.7-3.14-4.5-5.8-4.5h0Z\" />\n                    </g>\n                    <g>\n                        <path class=\"cls-5\"\n                            d=\"M462.87,159.09c-.26,0-.53-.05-.78-.16l-30.39-12.81c-1.02-.43-1.5-1.6-1.07-2.62l2.18-5.18c.21-.49.6-.88,1.09-1.08.24-.1.5-.15.75-.15s.53.05.78.16l1.21.51.69-18.33-21.18-8.93c-1.02-.43-1.5-1.6-1.07-2.62l3.7-8.79-14.42-6.08c-.49-.21-.88-.6-1.08-1.09s-.2-1.04,0-1.53l1.18-2.8c-.28.14-.58.21-.89.21-.26,0-.52-.05-.78-.16l-6.29-2.65c-1.02-.43-1.5-1.6-1.07-2.62l3.17-7.52c.32-.76,1.06-1.22,1.84-1.22.26,0,.52.05.78.16l6.29,2.65c.49.21.88.6,1.08,1.09.02.05.04.09.05.14l.58-1.37-46.97-19.8c-.49-.21-.88-.6-1.08-1.09s-.2-1.04,0-1.53l6.23-14.79c.32-.76,1.06-1.22,1.84-1.22.26,0,.52.05.78.16l1.51.64,1.15-2.73c.32-.76,1.06-1.22,1.84-1.22.26,0,.52.05.78.16l5.48,2.31c.49.21.88.6,1.08,1.09s.2,1.04,0,1.53l-1.15,2.73,36.3,15.3.75-1.77c.32-.76,1.06-1.22,1.84-1.22.26,0,.52.05.78.16l37.38,15.75c1,.42,1.48,1.56,1.09,2.56-.21.55-.39,1.13-.53,1.77l2.83,1.19c.51.22.89.62,1.08,1.1l2.29-.93c.3-.17.65-.26,1-.26.25,0,.5.05.75.15l8.23,3.47c1.02.43,1.5,1.6,1.07,2.62l-1.15,2.73c-.32.76-1.05,1.22-1.84,1.22-.17,0-.34-.02-.51-.07l-5.75-1.53-.97.87c.25.21.45.48.58.79.2.49.2,1.04,0,1.53l-1.2,2.85c.66.44,1.3.78,1.94,1.06.12.03.22.07.33.12.67.29,1.13.93,1.2,1.66l5.34,59.74c.08.88-.42,1.7-1.24,2.03l-8.68,3.53c-.24.1-.5.15-.75.15ZM437.69,110.15l.1-2.65-1.38,2.12,1.28.54ZM430.26,107.02l1.11-2.62-4.57-1.93-1.11,2.62,4.57,1.93Z\" />\n                        <path class=\"cls-8\"\n                            d=\"M374.57,36.71l5.48,2.31-1.93,4.57,39.98,16.85,1.52-3.62,37.38,15.75c-.47,1.22-.74,2.47-.91,3.71l4.3,1.81c-.33.78-.48,1.58-.51,2.38l5.61-2.28.02-.04,8.23,3.47-1.15,2.73-6.8-1.81-3.69,3.31c.57.53,1.22.99,1.98,1.31l-1.82,4.31c1.12.88,2.33,1.68,3.71,2.26.07.03.15.04.22.07l5.34,59.74-8.68,3.53-30.39-12.81,2.18-5.18,3.87,1.63.85-22.6-22.46-9.47,4.48-10.63-16.26-6.85,2.09-4.96-3.24-1.37-.4.96-6.29-2.65,3.17-7.52,6.29,2.65-.35.82,3.24,1.37,2.21-5.24-48.82-20.58,6.23-14.79,3.36,1.41,1.93-4.57M439.58,113.12l.27-7.32-2.63-1.11-3.01,4.63-2.34-.98,2.11-5.01-8.26-3.48-2.66,6.31,16.51,6.96M374.57,32.71c-.51,0-1.02.1-1.51.3-.98.4-1.77,1.17-2.18,2.15l-.38.9c-.4-.13-.81-.19-1.21-.19-1.56,0-3.04.92-3.69,2.45l-6.23,14.79c-.41.98-.42,2.08-.02,3.06.4.98,1.17,1.77,2.15,2.18l35.67,15.04c-.15.22-.28.45-.38.7l-3.17,7.52c-.86,2.04.1,4.38,2.13,5.24l5.85,2.46-.14.32c-.86,2.04.1,4.38,2.13,5.24l12.57,5.3-2.93,6.94c-.41.98-.42,2.08-.02,3.06.4.98,1.17,1.77,2.15,2.18l19.91,8.39-.54,14.35s-.06,0-.08,0c-1.56,0-3.04.92-3.69,2.45l-2.18,5.18c-.86,2.04.1,4.38,2.13,5.24l30.39,12.81c.5.21,1.03.31,1.55.31s1.02-.1,1.51-.29l8.68-3.53c1.63-.66,2.63-2.31,2.48-4.06l-5.34-59.74c-.13-1.47-1.07-2.75-2.43-3.33-.15-.06-.28-.11-.4-.15-.03-.01-.06-.03-.09-.04l.51-1.21c.2-.47.3-.95.31-1.43l3.48.92c.34.09.69.13,1.03.13,1.58,0,3.05-.94,3.68-2.45l1.15-2.73c.86-2.04-.1-4.38-2.13-5.24l-8.23-3.47c-.51-.21-1.03-.32-1.55-.32-.69,0-1.37.18-1.97.52l-.68.28c-.28-.22-.58-.4-.91-.54l-1.18-.5c.71-1.99-.25-4.2-2.21-5.03l-37.38-15.75c-.51-.21-1.03-.32-1.55-.32-1.54,0-3,.89-3.66,2.38l-32.61-13.75.37-.89c.41-.98.42-2.08.02-3.06-.4-.98-1.17-1.77-2.15-2.18l-5.48-2.31c-.5-.21-1.03-.31-1.55-.31h0Z\" />\n                    </g>\n                    <g>\n                        <path class=\"cls-2\"\n                            d=\"M252.47,138.69c-2.04,0-4.51-.25-7.56-.75l-16.76-2.79c-1.02-.17-1.82-.94-2.04-1.95l-2.78-13.25c-.17-.81.07-1.65.64-2.24l.04-.04-19.4-3.23c-.65-.11-1.24-.47-1.62-1.01-.39-.54-.54-1.21-.43-1.86l2.17-13.07c.2-1.22,1.26-2.09,2.46-2.09.14,0,.27.01.41.03l7.81,1.3c0-.16,0-.33.03-.49l.89-5.34c-.3.07-.59.14-.87.21-.19.04-.37.06-.56.06-.84,0-1.65-.43-2.11-1.16l-8.67-13.68c-.46-.72-.51-1.62-.15-2.4.36-.77,1.09-1.31,1.94-1.42,2.11-.28,4.15-.6,6.11-.96l-1.38-.23c-1.36-.23-2.28-1.51-2.06-2.88l2.02-12.12c.11-.65.47-1.24,1.01-1.62.43-.3.94-.47,1.45-.47.14,0,.27.01.41.03l2.01.33c0-.16,0-.33.03-.49l1.96-11.81c.2-1.22,1.26-2.09,2.46-2.09.14,0,.27.01.41.03l6.3,1.05c-.4-1.02-.88-2.19-1.43-3.51-.32-.77-.24-1.65.22-2.34.46-.69,1.23-1.11,2.07-1.12,0,0,17.48-.13,17.48-.13,1.01,0,1.92.61,2.31,1.54,1.05,2.53,2.03,5.38,2.92,8.5,1.07-2.38,2.13-5.06,3.19-8,.36-1.01,1.32-1.66,2.35-1.66.18,0,.36.02.54.06l19.12,4.26c.75.17,1.38.67,1.71,1.35.33.69.33,1.49,0,2.18-1.12,2.31-2.26,4.55-3.42,6.69l1.69.28c1.89-2.43,3.77-5.19,5.6-8.2.46-.76,1.28-1.2,2.14-1.2.27,0,.54.04.81.13l17.43,5.93c.74.25,1.32.83,1.56,1.57.25.74.14,1.55-.3,2.2-.85,1.25-1.71,2.48-2.59,3.67l7.38,1.23c.65.11,1.24.47,1.62,1.01.39.54.54,1.21.43,1.86l-1.96,11.81c-.03.17-.07.33-.13.48l2.12.35c1.36.23,2.28,1.51,2.06,2.88l-2.02,12.13c-.11.65-.47,1.24-1.01,1.62-.43.3-.94.47-1.45.47-.14,0-.27-.01-.41-.03l-.32-.05c1.42.77,2.9,1.53,4.45,2.27.75.36,1.28,1.08,1.39,1.91.12.83-.19,1.66-.82,2.21l-12.33,10.95c-.47.42-1.06.63-1.66.63-.47,0-.93-.13-1.35-.4-.36-.23-.7-.45-1.02-.65l-.86,5.16c-.03.17-.07.33-.13.48l7.7,1.28c1.36.23,2.28,1.51,2.06,2.88l-2.17,13.07c-.11.65-.47,1.24-1.01,1.62-.43.3-.94.47-1.45.47-.14,0-.27-.01-.41-.03l-34.65-5.76-.59,3.54c-.9,5.41-3.05,8.81-6.39,10.11-1.19.47-2.72.7-4.67.7ZM281.08,94.36c-.15-.14-.3-.28-.45-.42-.25.12-.53.19-.81.22l1.25.21ZM233.72,86.48v-.03s-.05.01-.07.02h.07Z\" />\n                        <path class=\"cls-8\"\n                            d=\"M245.01,37.69c1.29,3.1,2.46,6.69,3.52,10.77l2.74.46c1.52-3.07,3.02-6.68,4.51-10.84l19.12,4.26c-1.65,3.41-3.34,6.63-5.08,9.67l6.64,1.1c2.27-2.8,4.5-6,6.69-9.61l17.43,5.93c-1.63,2.4-3.31,4.69-5.04,6.85l11.49,1.91-1.96,11.81-23.51-3.91c.51,1.24,1.02,2.34,1.51,3.28l26.04,4.33-2.02,12.13-12.23-2.03c3.96,3.12,8.91,6.11,14.87,8.97l-12.33,10.95c-1.83-1.17-3.23-2.09-4.2-2.76l-1.49,8.96-26.99-4.49-.49,2.95,37.11,6.17-2.17,13.07-37.11-6.17-1,6.01c-.75,4.5-2.36,7.23-4.83,8.19-.89.35-2.15.53-3.77.53-1.89,0-4.27-.24-7.15-.72l-16.76-2.79-2.78-13.25,14.44,2.4c.31.05.6.08.87.08,1.51,0,2.4-.8,2.66-2.42l.18-1.05-38.9-6.47,2.17-13.07,38.9,6.47.49-2.95-28.68-4.77,1.53-9.17c-1.75.51-3.26.9-4.53,1.2l-8.67-13.68c6.79-.89,12.79-2.21,17.99-3.94l-13.18-2.19,2.02-12.13,28.36,4.72c.94-.86,1.8-1.72,2.6-2.6l-26.04-4.33,1.96-11.81,10.54,1.75c-.42-1.37-1.41-3.92-2.96-7.64l17.46-.13M266.11,66.55c-.4-1.08-.73-2.14-.98-3.2l-2.53-.42c-.45.51-1.21,1.39-2.28,2.65l5.8.96M273.54,81.77c-.47-.65-.84-1.22-1.13-1.7l-24.04-4c-1.38.93-2.75,1.78-4.11,2.57,11.4,1.82,21.15,2.87,29.27,3.13M248.42,91.46l.46-2.74c-.28-.05-4.43-.7-12.46-1.96l-1.13-3.65c-3.42,1.45-7.34,2.86-11.75,4.22l24.88,4.14M279.59,91.66c-4.31-.14-8.46-.39-12.44-.77l-.6,3.59,23.09,3.84c-5-3.79-9.22-7.78-12.64-11.96l2.59,5.31M245.01,32.69s-.02,0-.04,0l-17.46.13c-1.66.01-3.21.85-4.13,2.24-.79,1.2-1.03,2.67-.66,4.04l-1.93-.32c-.28-.05-.55-.07-.83-.07-2.4,0-4.52,1.73-4.93,4.18l-1.64,9.85c-.1,0-.21,0-.31,0-1.04,0-2.05.32-2.91.93-1.08.77-1.81,1.94-2.02,3.25l-2.02,12.13c-.11.66-.09,1.31.05,1.92-.19.03-.39.05-.58.08-1.69.22-3.15,1.29-3.88,2.84-.72,1.55-.61,3.35.3,4.8l8.67,13.68c.64,1.01,1.61,1.74,2.7,2.09l-.07.41-5.29-.88c-.28-.05-.55-.07-.83-.07-2.4,0-4.52,1.73-4.93,4.18l-2.17,13.07c-.22,1.31.09,2.65.86,3.73.77,1.08,1.94,1.81,3.25,2.02l16.58,2.76c.01.27.05.53.1.8l2.78,13.25c.42,2.02,2.04,3.57,4.07,3.91l16.76,2.79c3.18.53,5.78.79,7.97.79s4.1-.29,5.6-.88c4.2-1.64,6.87-5.68,7.93-12.02l.18-1.08,32.18,5.35c.27.05.55.07.82.07,1.04,0,2.05-.32,2.91-.93,1.08-.77,1.81-1.94,2.02-3.25l2.17-13.07c.45-2.72-1.39-5.3-4.11-5.75l-5.19-.86v-.06c.15.01.29.02.43.02,1.19,0,2.38-.43,3.32-1.26l12.33-10.95c1.25-1.11,1.86-2.77,1.63-4.43-.23-1.66-1.28-3.09-2.78-3.81-.12-.06-.23-.11-.35-.17.23-.45.39-.94.47-1.44l2.02-12.13c.43-2.59-1.21-5.05-3.72-5.67l1.64-9.84c.45-2.72-1.39-5.3-4.11-5.75l-3.44-.57c.1-.15.21-.3.31-.45.88-1.29,1.1-2.92.6-4.4-.5-1.48-1.65-2.64-3.13-3.14l-17.43-5.93c-.53-.18-1.07-.27-1.61-.27-1.42,0-2.79.61-3.75,1.69,0,0,0-.01,0-.02-.66-1.38-1.92-2.37-3.41-2.7l-19.12-4.26c-.36-.08-.73-.12-1.09-.12-2.07,0-3.98,1.29-4.71,3.32-.19.54-.39,1.07-.58,1.59-.28-.76-.57-1.49-.87-2.2-.78-1.87-2.6-3.08-4.62-3.08h0Z\" />\n                    </g>\n                </g>\n            </g>\n        </svg>\n\n        <div>\n            <form id=\"myForm\">\n                <label for=\"name\" class=\"name\">名前を入力してください</label>\n                <input type=\"text\" id=\"name\" name=\"name\">\n                <input type=\"submit\" class=\"btn\" value=\"エントリー\">\n            </form>\n        </div>\n    </div>\n    <script>\n        const selectSE = new Audio('https://s3.isk01.sakurastorage.jp/jankengun/select.mp3')\n        document.getElementById('myForm').onsubmit = function(event) {\n            event.preventDefault();\n\n            const name = document.getElementById('name').value;\n            if (name === '') {\n                alert('名前を入力してください。');\n                return false;\n            }\n\n            fetch('/player/new', {\n                method: 'POST',\n                headers: {\n                    'Content-Type': 'application/json',\n                },\n                body: JSON.stringify({\n                    name\n                })\n            }).then((res) =>\n                res.json()\n            ).then((res) => {\n                selectSE.play()\n                alert('登録完了');\n                document.location = `/ui/game?playerId=${res.playerId}`;\n            });\n        };\n    </script>\n</body>\n\n</html>",
        "output": "str",
        "x": 440,
        "y": 140,
        "wires": [
            [
                "9b0b770106ee1deb"
            ]
        ]
    },
    {
        "id": "9b0b770106ee1deb",
        "type": "http response",
        "z": "19e85b17e8f1d4c5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "6b920e45a1744e9b",
        "type": "function",
        "z": "19e85b17e8f1d4c5",
        "name": "concat player id",
        "func": "const playerName = global.get('playerName')\nconst playerId = msg.payload.ids[0]\nglobal.set('latestPlayerId', playerId)\nglobal.set(playerId, 0)\nreturn {\n    ...msg,\n    payload: {\n        playerName,\n        playerId,\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 420,
        "wires": [
            [
                "ee86aa8820d94864"
            ]
        ]
    },
    {
        "id": "13369dc672d679b8",
        "type": "http in",
        "z": "19e85b17e8f1d4c5",
        "name": "",
        "url": "/ui/game",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "86a0f9685f80f02d"
            ]
        ]
    },
    {
        "id": "86a0f9685f80f02d",
        "type": "template",
        "z": "19e85b17e8f1d4c5",
        "name": "ゲーム画面",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "plain",
        "template": "<!DOCTYPE html>\n<html lang=\"ja\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>カウントダウンタイマーとスコア</title>\n    <link href=\"https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap\" rel=\"stylesheet\">\n    <style>\n        body {\n            font-family: 'M PLUS Rounded 1c', sans-serif;\n            font-weight: 700;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            height: 100vh;\n            overflow: hidden;\n            padding: 0;\n            margin: 0;\n        }\n\n        .back {\n            position: fixed;\n            top: -50%;\n            left: -50%;\n            width: 200%;\n            height: 200%;\n            background-color: #ffbb49;\n            z-index: -1;\n            background-image: url(\"data:image/svg+xml,%3Csvg%20id%3D%22back%22%20data-name%3D%22back%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20296.69%20296.69%22%3E%20%3Cdefs%3E%20%3Cstyle%3E%20.cls-1%20%7B%20fill%3A%20none%3B%20%7D%20.cls-1%2C%20.cls-2%20%7B%20stroke-width%3A%200px%3B%20%7D%20.cls-2%20%7B%20fill%3A%20%23fae7ca%3B%20%7D%20%3C%2Fstyle%3E%20%3C%2Fdefs%3E%20%3Cg%20id%3D%22back%22%20data-name%3D%22back%22%3E%20%3Cg%3E%20%3Crect%20class%3D%22cls-1%22%20width%3D%22296.69%22%20height%3D%22296.69%22%2F%3E%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M145.77%2C38.13v-4.51s0-.05%2C0-.07v-3.83c0-1.34.86-2.47%2C1.89-2.47s1.88%2C1.12%2C1.89%2C2.45v4.58s0%2C0%2C0%2C0v2.43c-1.38.52-2.69%2C1.02-3.77%2C1.42h0ZM139.7%2C44.28c-1.03%2C0-1.89-1.13-1.89-2.47v-8.19c0-1.34.86-2.47%2C1.89-2.47s1.84%2C1.08%2C1.88%2C2.38v6.73s0%2C.02%2C0%2C.03v.53c0%2C.09.04.17.05.26-.08.14-.17.26-.24.41-.25.53-.46%2C1.26-.44%2C2.14-.22.26-.65.65-1.26.65h0ZM131.74%2C44.28c-1.02%2C0-1.88-1.12-1.89-2.45v-4.33c0-1.33.87-2.45%2C1.89-2.45s1.89%2C1.13%2C1.89%2C2.47v4.29c0%2C1.34-.86%2C2.47-1.89%2C2.47h0ZM155.6%2C26.47c1.02%2C0%2C1.89%2C1.19%2C1.89%2C2.59v4.56c-.87.36-2.22.89-3.78%2C1.49v-5.4s0-.01%2C0-.02v-.64c0-1.4.86-2.59%2C1.89-2.59h0ZM169.58%2C42.58s-.02-.04-.03-.06c0-.02%2C0-.05%2C0-.07-.52-2.29-1.06-4.34-1.11-4.5-1.01-2.9-2.84-4.2-4.2-4.79-.82-.35-1.69-.5-2.58-.53v-3.57c0-3.73-2.72-6.77-6.07-6.77-1.72%2C0-3.26.81-4.37%2C2.09-1.01-.82-2.24-1.32-3.59-1.32-2.62%2C0-4.84%2C1.84-5.68%2C4.39-.7-.31-1.46-.49-2.27-.49-2.62%2C0-4.84%2C1.84-5.69%2C4.4-.7-.31-1.47-.49-2.27-.49-3.06%2C0-5.58%2C2.51-5.99%2C5.74-.03.14-.08.26-.08.41v.48s0%2C.01%2C0%2C.02v4.29s0%2C.01%2C0%2C.02v2.93c0%2C5.59%2C0%2C22.59%2C13.35%2C27.15.22.08.45.11.68.11.87%2C0%2C1.68-.55%2C1.98-1.42.37-1.09-.21-2.28-1.3-2.65-6.54-2.24-9.89-8.58-10.43-19.83.57.2%2C1.17.33%2C1.8.33%2C1.53%2C0%2C2.91-.64%2C3.98-1.67%2C1.07%2C1.03%2C2.45%2C1.67%2C3.98%2C1.67%2C1.13%2C0%2C2.21-.38%2C3.16-1.01.51.39%2C1.16.74%2C2.01%2C1.01%2C1.09.35%2C2.4.51%2C3.77.51.8%2C0%2C1.63-.06%2C2.46-.17-1.05%2C1.83-2.1%2C4.31-2.76%2C7.57-.12.61.27%2C1.21.89%2C1.33.08.01.15.02.23.02.53%2C0%2C1-.37%2C1.11-.91.87-4.33%2C2.5-7.13%2C3.73-8.73%2C1.06-.34%2C2.03-.78%2C2.83-1.29.97-.62%2C1.26-1.91.63-2.88-.62-.97-1.92-1.25-2.89-.63-2.09%2C1.34-6.42%2C1.93-8.73%2C1.19-.65-.21-.86-.43-.88-.48-.19-.47-.1-.65-.07-.72.19-.42.9-.82%2C1.39-.99.45-.17%2C11.15-4.15%2C13.32-5.15.94-.43%2C1.9-.47%2C2.7-.13.84.36%2C1.5%2C1.16%2C1.85%2C2.16%2C0%2C.01.51%2C1.93%2C1%2C4.1.67%2C4.21.88%2C20.41-10.26%2C23.42-1.12.3-1.77%2C1.45-1.47%2C2.56.25.93%2C1.1%2C1.54%2C2.01%2C1.54.18%2C0%2C.36-.02.55-.07%2C13.93-3.76%2C14.27-22.03%2C13.29-28.13h0Z%22%2F%3E%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M276.07%2C48.02c-.05-.09-.11-.17-.18-.26-3.36-4.18-10.34.13-11.13.63l-1.18.7%2C7.59-16.91c.62-1.38.75-2.9.37-4.27-.41-1.49-1.41-2.69-2.74-3.28-1.32-.6-2.88-.55-4.27.14-1.28.63-2.33%2C1.74-2.94%2C3.11l-5.28%2C11.76v-14.39c0-3.27-2.35-5.93-5.25-5.93s-5.25%2C2.66-5.25%2C5.93v10.89l-1.61-7.13c-.31-1.45-1.09-2.76-2.21-3.64-1.21-.96-2.72-1.34-4.15-1.04-1.42.3-2.65%2C1.26-3.37%2C2.63-.66%2C1.26-.86%2C2.77-.54%2C4.25l1.5%2C7.11-.65-1.12c-.75-1.31-1.91-2.31-3.24-2.8-1.45-.55-3.01-.44-4.26.29-2.51%2C1.45-3.22%2C4.93-1.59%2C7.76l4.21%2C7.3%2C1.1%2C2.81c.14.44.31%2C1.12.31%2C1.35v1.31c0%2C8.21%2C1.34%2C16.27%2C11.06%2C19.68.22.08.44.11.67.11.83%2C0%2C1.61-.52%2C1.9-1.35.37-1.05-.18-2.2-1.23-2.57-6.99-2.45-8.36-7.68-8.36-15.88v-1.31c0-1.04-.43-2.36-.56-2.74l-1.18-3.02c-.03-.1-.08-.19-.13-.27l-4.28-7.43c-.54-.94-.38-1.96.11-2.25.3-.17.65-.08.84%2C0%2C.45.17.87.55%2C1.16%2C1.04l4.28%2C7.43c.56.84%2C2.04%2C3.06%2C4%2C2.2%2C1.1-.48%2C1.68-1.69%2C1.52-3.15%2C0-.06-.02-.13-.03-.19l-3.18-15.12c-.12-.56-.05-1.12.17-1.55.1-.18.3-.49.64-.56.34-.07.65.13.8.25.38.3.66.79.78%2C1.35l3.31%2C14.61c.03.12.07.24.12.36.54%2C1.25%2C1.8%2C2.63%2C3.54%2C2.42%2C1.56-.19%2C2.59-1.64%2C2.62-3.69v-18.32c0-1.08.64-1.89%2C1.22-1.89s1.22.81%2C1.22%2C1.89v19.71c0%2C.19.03.38.08.56.15.52.77%2C2.25%2C2.42%2C2.49%2C1.19.18%2C2.34-.56%2C3.06-1.96l7.42-16.51c.23-.52.62-.94%2C1.05-1.15.18-.09.53-.22.84-.08.31.14.45.49.5.68.13.47.07%2C1.03-.16%2C1.55l-7.96%2C17.73c-.27.59-.94%2C2.09-.7%2C3.54-2.59%2C1.48-7.29%2C4.76-8.12%2C9.44-.11.59.29%2C1.16.88%2C1.27.07.01.13.02.2.02.52%2C0%2C.98-.37%2C1.07-.9.68-3.78%2C4.79-6.62%2C7.06-7.92.72.58%2C1.62.76%2C2.26.69.29-.03.57-.12.82-.27l3.88-2.31c1.85-1.18%2C4.82-2.31%2C5.74-1.65.08.31.14%2C1.11-.81%2C2.15-1.6%2C1.76-6.05%2C5.33-7.62%2C6.56-.35.27-.59.65-.71%2C1.07-.71%2C2.67-3.54%2C9.88-7.94%2C11.07-1.08.29-1.71%2C1.4-1.42%2C2.47.29%2C1.07%2C1.39%2C1.71%2C2.47%2C1.42%2C6.6-1.79%2C9.8-10.71%2C10.59-13.26%2C1.49-1.18%2C5.8-4.64%2C7.61-6.62%2C2.58-2.82%2C2.01-5.74%2C1.27-7.02h0Z%22%2F%3E%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M51.53%2C43.21l4.9-17.89c.16-.57.49-1.06.92-1.35.19-.13.58-.33.98-.22.73.2%2C1.12%2C1.29.83%2C2.32l-4.35%2C15.88c-.35.1-.7.2-1.05.36-.39.18-1.21.5-2.22.9h0ZM43.84%2C46.12c0-.06.01-.12%2C0-.19l-.09-.43c-.04-.27-.09-.54-.17-.81l-4.3-20.21c-.25-1.16.31-2.13.96-2.27.75-.15%2C1.58.61%2C1.8%2C1.68l4.53%2C21.21c-.99.37-1.93.72-2.72%2C1.02h0ZM37%2C46.68l-1.56-3.37c-.23-.5-.29-1.06-.15-1.53.07-.22.23-.62.63-.8.14-.06.28-.09.44-.09.54%2C0%2C1.26.39%2C1.65%2C1.24l1.56%2C3.38c.08.17.1.34.14.51l.07.33c.02.24%2C0%2C.48-.06.7-.06.22-.23.62-.63.8-.59.27-1.58-.04-2.09-1.15h0ZM34.05%2C51.26c-.06.22-.23.62-.63.8-.58.27-1.58-.04-2.09-1.15l-1.56-3.37c-.23-.5-.29-1.06-.15-1.53.06-.22.23-.62.63-.8.14-.06.29-.09.44-.09.54%2C0%2C1.26.38%2C1.65%2C1.24l1.56%2C3.38c.23.5.29%2C1.06.15%2C1.53h0ZM63.92%2C50.5s-.02-.04-.02-.06c0-.02%2C0-.04%2C0-.06-.45-1.99-.92-3.78-.96-3.92-.89-2.59-2.53-3.76-3.75-4.28-.07-.03-.15-.04-.22-.07l4.1-14.96c.89-3.23-.76-6.51-3.67-7.31-1.45-.4-3.03-.11-4.34.78-1.23.84-2.13%2C2.13-2.54%2C3.63l-3.52%2C12.85-3-14.05c-.7-3.27-3.66-5.42-6.61-4.8-2.95.63-4.78%2C3.81-4.08%2C7.08l2.49%2C11.7c-.47-.13-.94-.21-1.43-.21-.75%2C0-1.47.16-2.15.47-1.35.63-2.38%2C1.84-2.82%2C3.34-.05.16-.06.32-.09.48-.2-.02-.4-.05-.61-.05-.75%2C0-1.47.16-2.15.47-1.35.63-2.38%2C1.84-2.82%2C3.34-.22.74-.28%2C1.52-.2%2C2.3%2C0%2C.06-.04.12-.04.19v4.98c-.02%2C4.88-.06%2C19.72%2C11.63%2C23.73.22.08.44.11.65.11.84%2C0%2C1.63-.53%2C1.92-1.37.36-1.06-.2-2.21-1.26-2.58-5.61-1.93-8.45-7.43-8.85-17.21.98.75%2C2.16%2C1.18%2C3.38%2C1.19.75%2C0%2C1.47-.16%2C2.15-.47%2C1.36-.63%2C2.38-1.84%2C2.82-3.34.04-.16.06-.32.09-.48.2.02.41.05.61.05.04%2C0%2C.08-.01.12-.01.06.37.16.76.32%2C1.18.35.85%2C1.17%2C2.01%2C3.15%2C2.64.96.31%2C2.11.45%2C3.32.46.61%2C0%2C1.23-.04%2C1.86-.11-.86%2C1.56-1.7%2C3.62-2.25%2C6.27-.12.59.26%2C1.17.85%2C1.29.07.02.15.02.22.02.51%2C0%2C.97-.36%2C1.08-.88.74-3.62%2C2.08-5.95%2C3.12-7.34.96-.3%2C1.85-.69%2C2.58-1.16.95-.6%2C1.22-1.85.62-2.8-.6-.94-1.85-1.22-2.8-.62-2.55%2C1.62-7.38%2C1.49-7.99.7-.06-.14-.11-.34-.06-.45.12-.27.68-.6%2C1.09-.74.4-.14%2C9.66-3.58%2C11.56-4.43.75-.35%2C1.52-.38%2C2.16-.11.67.29%2C1.2.94%2C1.48%2C1.73%2C0%2C.01.44%2C1.67.86%2C3.55.56%2C3.64.69%2C17.45-8.77%2C19.98-1.08.29-1.72%2C1.4-1.44%2C2.48.24.9%2C1.06%2C1.5%2C1.95%2C1.5.18%2C0%2C.35-.02.53-.07%2C12.21-3.27%2C12.56-19.23%2C11.72-24.57h0Z%22%2F%3E%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M145.77%2C138.06v-4.51s0-.05%2C0-.07v-3.83c0-1.34.86-2.47%2C1.89-2.47s1.88%2C1.12%2C1.89%2C2.45v4.58s0%2C0%2C0%2C0v2.43c-1.38.52-2.69%2C1.02-3.77%2C1.42h0ZM139.7%2C144.21c-1.03%2C0-1.89-1.13-1.89-2.47v-8.19c0-1.34.86-2.47%2C1.89-2.47s1.84%2C1.08%2C1.88%2C2.38v6.73s0%2C.02%2C0%2C.03v.53c0%2C.09.04.17.05.26-.08.14-.17.26-.24.41-.25.53-.46%2C1.26-.44%2C2.14-.22.26-.65.65-1.26.65h0ZM131.74%2C144.21c-1.02%2C0-1.88-1.12-1.89-2.45v-4.33c0-1.33.87-2.45%2C1.89-2.45s1.89%2C1.13%2C1.89%2C2.47v4.29c0%2C1.34-.86%2C2.47-1.89%2C2.47h0ZM155.6%2C126.4c1.02%2C0%2C1.89%2C1.19%2C1.89%2C2.59v4.56c-.87.36-2.22.89-3.78%2C1.49v-5.4s0-.01%2C0-.02v-.64c0-1.4.86-2.59%2C1.89-2.59h0ZM169.58%2C142.51s-.02-.04-.03-.06c0-.02%2C0-.05%2C0-.07-.52-2.29-1.06-4.34-1.11-4.5-1.01-2.9-2.84-4.2-4.2-4.79-.82-.35-1.69-.5-2.58-.53v-3.57c0-3.73-2.72-6.77-6.07-6.77-1.72%2C0-3.26.81-4.37%2C2.09-1.01-.82-2.24-1.32-3.59-1.32-2.62%2C0-4.84%2C1.84-5.68%2C4.39-.7-.31-1.46-.49-2.27-.49-2.62%2C0-4.84%2C1.84-5.69%2C4.4-.7-.31-1.47-.49-2.27-.49-3.06%2C0-5.58%2C2.51-5.99%2C5.74-.03.14-.08.26-.08.41v.48s0%2C.01%2C0%2C.02v4.29s0%2C.01%2C0%2C.02v2.93c0%2C5.59%2C0%2C22.59%2C13.35%2C27.15.22.08.45.11.68.11.87%2C0%2C1.68-.55%2C1.98-1.42.37-1.09-.21-2.28-1.3-2.65-6.54-2.24-9.89-8.58-10.43-19.83.57.2%2C1.17.33%2C1.8.33%2C1.53%2C0%2C2.91-.64%2C3.98-1.67%2C1.07%2C1.03%2C2.45%2C1.67%2C3.98%2C1.67%2C1.13%2C0%2C2.21-.38%2C3.16-1.01.51.39%2C1.16.74%2C2.01%2C1.01%2C1.09.35%2C2.4.51%2C3.77.51.8%2C0%2C1.63-.06%2C2.46-.17-1.05%2C1.83-2.1%2C4.31-2.76%2C7.57-.12.61.27%2C1.21.89%2C1.33.08.01.15.02.23.02.53%2C0%2C1-.37%2C1.11-.91.87-4.33%2C2.5-7.13%2C3.73-8.73%2C1.06-.34%2C2.03-.78%2C2.83-1.29.97-.62%2C1.26-1.91.63-2.88-.62-.97-1.92-1.25-2.89-.63-2.09%2C1.34-6.42%2C1.93-8.73%2C1.19-.65-.21-.86-.43-.88-.48-.19-.47-.1-.65-.07-.72.19-.42.9-.82%2C1.39-.99.45-.17%2C11.15-4.15%2C13.32-5.15.94-.43%2C1.9-.47%2C2.7-.13.84.36%2C1.5%2C1.16%2C1.85%2C2.16%2C0%2C.01.51%2C1.93%2C1%2C4.1.67%2C4.21.88%2C20.41-10.26%2C23.42-1.12.3-1.77%2C1.45-1.47%2C2.56.25.93%2C1.1%2C1.54%2C2.01%2C1.54.18%2C0%2C.36-.02.55-.07%2C13.93-3.76%2C14.27-22.03%2C13.29-28.13h0Z%22%2F%3E%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M276.07%2C147.94c-.05-.09-.11-.17-.18-.26-3.36-4.18-10.34.13-11.13.63l-1.18.7%2C7.59-16.91c.62-1.38.75-2.9.37-4.27-.41-1.49-1.41-2.69-2.74-3.28-1.32-.6-2.88-.55-4.27.14-1.28.63-2.33%2C1.74-2.94%2C3.11l-5.28%2C11.76v-14.39c0-3.27-2.35-5.93-5.25-5.93s-5.25%2C2.66-5.25%2C5.93v10.89l-1.61-7.13c-.31-1.45-1.09-2.76-2.21-3.64-1.21-.96-2.72-1.34-4.15-1.04-1.42.3-2.65%2C1.26-3.37%2C2.63-.66%2C1.26-.86%2C2.77-.54%2C4.25l1.5%2C7.11-.65-1.12c-.75-1.31-1.91-2.31-3.24-2.8-1.45-.55-3.01-.44-4.26.29-2.51%2C1.45-3.22%2C4.93-1.59%2C7.76l4.21%2C7.3%2C1.1%2C2.81c.14.44.31%2C1.12.31%2C1.35v1.31c0%2C8.21%2C1.34%2C16.27%2C11.06%2C19.68.22.08.44.11.67.11.83%2C0%2C1.61-.52%2C1.9-1.35.37-1.05-.18-2.2-1.23-2.57-6.99-2.45-8.36-7.68-8.36-15.88v-1.31c0-1.04-.43-2.36-.56-2.74l-1.18-3.02c-.03-.1-.08-.19-.13-.27l-4.28-7.43c-.54-.94-.38-1.96.11-2.25.3-.17.65-.08.84%2C0%2C.45.17.87.55%2C1.16%2C1.04l4.28%2C7.43c.56.84%2C2.04%2C3.06%2C4%2C2.2%2C1.1-.48%2C1.68-1.69%2C1.52-3.15%2C0-.06-.02-.13-.03-.19l-3.18-15.12c-.12-.56-.05-1.12.17-1.55.1-.18.3-.49.64-.56.34-.07.65.13.8.25.38.3.66.79.78%2C1.35l3.31%2C14.61c.03.12.07.24.12.36.54%2C1.25%2C1.8%2C2.63%2C3.54%2C2.42%2C1.56-.19%2C2.59-1.64%2C2.62-3.69v-18.32c0-1.08.64-1.89%2C1.22-1.89s1.22.81%2C1.22%2C1.89v19.71c0%2C.19.03.38.08.56.15.52.77%2C2.25%2C2.42%2C2.49%2C1.19.18%2C2.34-.56%2C3.06-1.96l7.42-16.51c.23-.52.62-.94%2C1.05-1.15.18-.09.53-.22.84-.08.31.14.45.49.5.68.13.47.07%2C1.03-.16%2C1.55l-7.96%2C17.73c-.27.59-.94%2C2.09-.7%2C3.54-2.59%2C1.48-7.29%2C4.76-8.12%2C9.44-.11.59.29%2C1.16.88%2C1.27.07.01.13.02.2.02.52%2C0%2C.98-.37%2C1.07-.9.68-3.78%2C4.79-6.62%2C7.06-7.92.72.58%2C1.62.76%2C2.26.69.29-.03.57-.12.82-.27l3.88-2.31c1.85-1.18%2C4.82-2.31%2C5.74-1.65.08.31.14%2C1.11-.81%2C2.15-1.6%2C1.76-6.05%2C5.33-7.62%2C6.56-.35.27-.59.65-.71%2C1.07-.71%2C2.67-3.54%2C9.88-7.94%2C11.07-1.08.29-1.71%2C1.4-1.42%2C2.47.29%2C1.07%2C1.39%2C1.71%2C2.47%2C1.42%2C6.6-1.79%2C9.8-10.71%2C10.59-13.26%2C1.49-1.18%2C5.8-4.64%2C7.61-6.62%2C2.58-2.82%2C2.01-5.74%2C1.27-7.02h0Z%22%2F%3E%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M51.53%2C143.14l4.9-17.89c.16-.57.49-1.06.92-1.35.19-.13.58-.33.98-.22.73.2%2C1.12%2C1.29.83%2C2.32l-4.35%2C15.88c-.35.1-.7.2-1.05.36-.39.18-1.21.5-2.22.9h0ZM43.84%2C146.05c0-.06.01-.12%2C0-.19l-.09-.43c-.04-.27-.09-.54-.17-.81l-4.3-20.21c-.25-1.16.31-2.13.96-2.27.75-.15%2C1.58.61%2C1.8%2C1.68l4.53%2C21.21c-.99.37-1.93.72-2.72%2C1.02h0ZM37%2C146.6l-1.56-3.37c-.23-.5-.29-1.06-.15-1.53.07-.22.23-.62.63-.8.14-.06.28-.09.44-.09.54%2C0%2C1.26.39%2C1.65%2C1.24l1.56%2C3.38c.08.17.1.34.14.51l.07.33c.02.24%2C0%2C.48-.06.7-.06.22-.23.62-.63.8-.59.27-1.58-.04-2.09-1.15h0ZM34.05%2C151.18c-.06.22-.23.62-.63.8-.58.27-1.58-.04-2.09-1.15l-1.56-3.37c-.23-.5-.29-1.06-.15-1.53.06-.22.23-.62.63-.8.14-.06.29-.09.44-.09.54%2C0%2C1.26.38%2C1.65%2C1.24l1.56%2C3.38c.23.5.29%2C1.06.15%2C1.53h0ZM63.92%2C150.42s-.02-.04-.02-.06c0-.02%2C0-.04%2C0-.06-.45-1.99-.92-3.78-.96-3.92-.89-2.59-2.53-3.76-3.75-4.28-.07-.03-.15-.04-.22-.07l4.1-14.96c.89-3.23-.76-6.51-3.67-7.31-1.45-.4-3.03-.11-4.34.78-1.23.84-2.13%2C2.13-2.54%2C3.63l-3.52%2C12.85-3-14.05c-.7-3.27-3.66-5.42-6.61-4.8-2.95.63-4.78%2C3.81-4.08%2C7.08l2.49%2C11.7c-.47-.13-.94-.21-1.43-.21-.75%2C0-1.47.16-2.15.47-1.35.63-2.38%2C1.84-2.82%2C3.34-.05.16-.06.32-.09.48-.2-.02-.4-.05-.61-.05-.75%2C0-1.47.16-2.15.47-1.35.63-2.38%2C1.84-2.82%2C3.34-.22.74-.28%2C1.52-.2%2C2.3%2C0%2C.06-.04.12-.04.19v4.98c-.02%2C4.88-.06%2C19.72%2C11.63%2C23.73.22.08.44.11.65.11.84%2C0%2C1.63-.53%2C1.92-1.37.36-1.06-.2-2.21-1.26-2.58-5.61-1.93-8.45-7.43-8.85-17.21.98.75%2C2.16%2C1.18%2C3.38%2C1.19.75%2C0%2C1.47-.16%2C2.15-.47%2C1.36-.63%2C2.38-1.84%2C2.82-3.34.04-.16.06-.32.09-.48.2.02.41.05.61.05.04%2C0%2C.08-.01.12-.01.06.37.16.76.32%2C1.18.35.85%2C1.17%2C2.01%2C3.15%2C2.64.96.31%2C2.11.45%2C3.32.46.61%2C0%2C1.23-.04%2C1.86-.11-.86%2C1.56-1.7%2C3.62-2.25%2C6.27-.12.59.26%2C1.17.85%2C1.29.07.02.15.02.22.02.51%2C0%2C.97-.36%2C1.08-.88.74-3.62%2C2.08-5.95%2C3.12-7.34.96-.3%2C1.85-.69%2C2.58-1.16.95-.6%2C1.22-1.85.62-2.8-.6-.94-1.85-1.22-2.8-.62-2.55%2C1.62-7.38%2C1.49-7.99.7-.06-.14-.11-.34-.06-.45.12-.27.68-.6%2C1.09-.74.4-.14%2C9.66-3.58%2C11.56-4.43.75-.35%2C1.52-.38%2C2.16-.11.67.29%2C1.2.94%2C1.48%2C1.73%2C0%2C.01.44%2C1.67.86%2C3.55.56%2C3.64.69%2C17.45-8.77%2C19.98-1.08.29-1.72%2C1.4-1.44%2C2.48.24.9%2C1.06%2C1.5%2C1.95%2C1.5.18%2C0%2C.35-.02.53-.07%2C12.21-3.27%2C12.56-19.23%2C11.72-24.57h0Z%22%2F%3E%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M145.77%2C237.98v-4.51s0-.05%2C0-.07v-3.83c0-1.34.86-2.47%2C1.89-2.47s1.88%2C1.12%2C1.89%2C2.45v4.58s0%2C0%2C0%2C0v2.43c-1.38.52-2.69%2C1.02-3.77%2C1.42h0ZM139.7%2C244.13c-1.03%2C0-1.89-1.13-1.89-2.47v-8.19c0-1.34.86-2.47%2C1.89-2.47s1.84%2C1.08%2C1.88%2C2.38v6.73s0%2C.02%2C0%2C.03v.53c0%2C.09.04.17.05.26-.08.14-.17.26-.24.41-.25.53-.46%2C1.26-.44%2C2.14-.22.26-.65.65-1.26.65h0ZM131.74%2C244.13c-1.02%2C0-1.88-1.12-1.89-2.45v-4.33c0-1.33.87-2.45%2C1.89-2.45s1.89%2C1.13%2C1.89%2C2.47v4.29c0%2C1.34-.86%2C2.47-1.89%2C2.47h0ZM155.6%2C226.32c1.02%2C0%2C1.89%2C1.19%2C1.89%2C2.59v4.56c-.87.36-2.22.89-3.78%2C1.49v-5.4s0-.01%2C0-.02v-.64c0-1.4.86-2.59%2C1.89-2.59h0ZM169.58%2C242.43s-.02-.04-.03-.06c0-.02%2C0-.05%2C0-.07-.52-2.29-1.06-4.34-1.11-4.5-1.01-2.9-2.84-4.2-4.2-4.79-.82-.35-1.69-.5-2.58-.53v-3.57c0-3.73-2.72-6.77-6.07-6.77-1.72%2C0-3.26.81-4.37%2C2.09-1.01-.82-2.24-1.32-3.59-1.32-2.62%2C0-4.84%2C1.84-5.68%2C4.39-.7-.31-1.46-.49-2.27-.49-2.62%2C0-4.84%2C1.84-5.69%2C4.4-.7-.31-1.47-.49-2.27-.49-3.06%2C0-5.58%2C2.51-5.99%2C5.74-.03.14-.08.26-.08.41v.48s0%2C.01%2C0%2C.02v4.29s0%2C.01%2C0%2C.02v2.93c0%2C5.59%2C0%2C22.59%2C13.35%2C27.15.22.08.45.11.68.11.87%2C0%2C1.68-.55%2C1.98-1.42.37-1.09-.21-2.28-1.3-2.65-6.54-2.24-9.89-8.58-10.43-19.83.57.2%2C1.17.33%2C1.8.33%2C1.53%2C0%2C2.91-.64%2C3.98-1.67%2C1.07%2C1.03%2C2.45%2C1.67%2C3.98%2C1.67%2C1.13%2C0%2C2.21-.38%2C3.16-1.01.51.39%2C1.16.74%2C2.01%2C1.01%2C1.09.35%2C2.4.51%2C3.77.51.8%2C0%2C1.63-.06%2C2.46-.17-1.05%2C1.83-2.1%2C4.31-2.76%2C7.57-.12.61.27%2C1.21.89%2C1.33.08.01.15.02.23.02.53%2C0%2C1-.37%2C1.11-.91.87-4.33%2C2.5-7.13%2C3.73-8.73%2C1.06-.34%2C2.03-.78%2C2.83-1.29.97-.62%2C1.26-1.91.63-2.88-.62-.97-1.92-1.25-2.89-.63-2.09%2C1.34-6.42%2C1.93-8.73%2C1.19-.65-.21-.86-.43-.88-.48-.19-.47-.1-.65-.07-.72.19-.42.9-.82%2C1.39-.99.45-.17%2C11.15-4.15%2C13.32-5.15.94-.43%2C1.9-.47%2C2.7-.13.84.36%2C1.5%2C1.16%2C1.85%2C2.16%2C0%2C.01.51%2C1.93%2C1%2C4.1.67%2C4.21.88%2C20.41-10.26%2C23.42-1.12.3-1.77%2C1.45-1.47%2C2.56.25.93%2C1.1%2C1.54%2C2.01%2C1.54.18%2C0%2C.36-.02.55-.07%2C13.93-3.76%2C14.27-22.03%2C13.29-28.13h0Z%22%2F%3E%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M276.07%2C247.87c-.05-.09-.11-.17-.18-.26-3.36-4.18-10.34.13-11.13.63l-1.18.7%2C7.59-16.91c.62-1.38.75-2.9.37-4.27-.41-1.49-1.41-2.69-2.74-3.28-1.32-.6-2.88-.55-4.27.14-1.28.63-2.33%2C1.74-2.94%2C3.11l-5.28%2C11.76v-14.39c0-3.27-2.35-5.93-5.25-5.93s-5.25%2C2.66-5.25%2C5.93v10.89l-1.61-7.13c-.31-1.45-1.09-2.76-2.21-3.64-1.21-.96-2.72-1.34-4.15-1.04-1.42.3-2.65%2C1.26-3.37%2C2.63-.66%2C1.26-.86%2C2.77-.54%2C4.25l1.5%2C7.11-.65-1.12c-.75-1.31-1.91-2.31-3.24-2.8-1.45-.55-3.01-.44-4.26.29-2.51%2C1.45-3.22%2C4.93-1.59%2C7.76l4.21%2C7.3%2C1.1%2C2.81c.14.44.31%2C1.12.31%2C1.35v1.31c0%2C8.21%2C1.34%2C16.27%2C11.06%2C19.68.22.08.44.11.67.11.83%2C0%2C1.61-.52%2C1.9-1.35.37-1.05-.18-2.2-1.23-2.57-6.99-2.45-8.36-7.68-8.36-15.88v-1.31c0-1.04-.43-2.36-.56-2.74l-1.18-3.02c-.03-.1-.08-.19-.13-.27l-4.28-7.43c-.54-.94-.38-1.96.11-2.25.3-.17.65-.08.84%2C0%2C.45.17.87.55%2C1.16%2C1.04l4.28%2C7.43c.56.84%2C2.04%2C3.06%2C4%2C2.2%2C1.1-.48%2C1.68-1.69%2C1.52-3.15%2C0-.06-.02-.13-.03-.19l-3.18-15.12c-.12-.56-.05-1.12.17-1.55.1-.18.3-.49.64-.56.34-.07.65.13.8.25.38.3.66.79.78%2C1.35l3.31%2C14.61c.03.12.07.24.12.36.54%2C1.25%2C1.8%2C2.63%2C3.54%2C2.42%2C1.56-.19%2C2.59-1.64%2C2.62-3.69v-18.32c0-1.08.64-1.89%2C1.22-1.89s1.22.81%2C1.22%2C1.89v19.71c0%2C.19.03.38.08.56.15.52.77%2C2.25%2C2.42%2C2.49%2C1.19.18%2C2.34-.56%2C3.06-1.96l7.42-16.51c.23-.52.62-.94%2C1.05-1.15.18-.09.53-.22.84-.08.31.14.45.49.5.68.13.47.07%2C1.03-.16%2C1.55l-7.96%2C17.73c-.27.59-.94%2C2.09-.7%2C3.54-2.59%2C1.48-7.29%2C4.76-8.12%2C9.44-.11.59.29%2C1.16.88%2C1.27.07.01.13.02.2.02.52%2C0%2C.98-.37%2C1.07-.9.68-3.78%2C4.79-6.62%2C7.06-7.92.72.58%2C1.62.76%2C2.26.69.29-.03.57-.12.82-.27l3.88-2.31c1.85-1.18%2C4.82-2.31%2C5.74-1.65.08.31.14%2C1.11-.81%2C2.15-1.6%2C1.76-6.05%2C5.33-7.62%2C6.56-.35.27-.59.65-.71%2C1.07-.71%2C2.67-3.54%2C9.88-7.94%2C11.07-1.08.29-1.71%2C1.4-1.42%2C2.47.29%2C1.07%2C1.39%2C1.71%2C2.47%2C1.42%2C6.6-1.79%2C9.8-10.71%2C10.59-13.26%2C1.49-1.18%2C5.8-4.64%2C7.61-6.62%2C2.58-2.82%2C2.01-5.74%2C1.27-7.02h0Z%22%2F%3E%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M51.53%2C243.06l4.9-17.89c.16-.57.49-1.06.92-1.35.19-.13.58-.33.98-.22.73.2%2C1.12%2C1.29.83%2C2.32l-4.35%2C15.88c-.35.1-.7.2-1.05.36-.39.18-1.21.5-2.22.9h0ZM43.84%2C245.97c0-.06.01-.12%2C0-.19l-.09-.43c-.04-.27-.09-.54-.17-.81l-4.3-20.21c-.25-1.16.31-2.13.96-2.27.75-.15%2C1.58.61%2C1.8%2C1.68l4.53%2C21.21c-.99.37-1.93.72-2.72%2C1.02h0ZM37%2C246.53l-1.56-3.37c-.23-.5-.29-1.06-.15-1.53.07-.22.23-.62.63-.8.14-.06.28-.09.44-.09.54%2C0%2C1.26.39%2C1.65%2C1.24l1.56%2C3.38c.08.17.1.34.14.51l.07.33c.02.24%2C0%2C.48-.06.7-.06.22-.23.62-.63.8-.59.27-1.58-.04-2.09-1.15h0ZM34.05%2C251.11c-.06.22-.23.62-.63.8-.58.27-1.58-.04-2.09-1.15l-1.56-3.37c-.23-.5-.29-1.06-.15-1.53.06-.22.23-.62.63-.8.14-.06.29-.09.44-.09.54%2C0%2C1.26.38%2C1.65%2C1.24l1.56%2C3.38c.23.5.29%2C1.06.15%2C1.53h0ZM63.92%2C250.35s-.02-.04-.02-.06c0-.02%2C0-.04%2C0-.06-.45-1.99-.92-3.78-.96-3.92-.89-2.59-2.53-3.76-3.75-4.28-.07-.03-.15-.04-.22-.07l4.1-14.96c.89-3.23-.76-6.51-3.67-7.31-1.45-.4-3.03-.11-4.34.78-1.23.84-2.13%2C2.13-2.54%2C3.63l-3.52%2C12.85-3-14.05c-.7-3.27-3.66-5.42-6.61-4.8-2.95.63-4.78%2C3.81-4.08%2C7.08l2.49%2C11.7c-.47-.13-.94-.21-1.43-.21-.75%2C0-1.47.16-2.15.47-1.35.63-2.38%2C1.84-2.82%2C3.34-.05.16-.06.32-.09.48-.2-.02-.4-.05-.61-.05-.75%2C0-1.47.16-2.15.47-1.35.63-2.38%2C1.84-2.82%2C3.34-.22.74-.28%2C1.52-.2%2C2.3%2C0%2C.06-.04.12-.04.19v4.98c-.02%2C4.88-.06%2C19.72%2C11.63%2C23.73.22.08.44.11.65.11.84%2C0%2C1.63-.53%2C1.92-1.37.36-1.06-.2-2.21-1.26-2.58-5.61-1.93-8.45-7.43-8.85-17.21.98.75%2C2.16%2C1.18%2C3.38%2C1.19.75%2C0%2C1.47-.16%2C2.15-.47%2C1.36-.63%2C2.38-1.84%2C2.82-3.34.04-.16.06-.32.09-.48.2.02.41.05.61.05.04%2C0%2C.08-.01.12-.01.06.37.16.76.32%2C1.18.35.85%2C1.17%2C2.01%2C3.15%2C2.64.96.31%2C2.11.45%2C3.32.46.61%2C0%2C1.23-.04%2C1.86-.11-.86%2C1.56-1.7%2C3.62-2.25%2C6.27-.12.59.26%2C1.17.85%2C1.29.07.02.15.02.22.02.51%2C0%2C.97-.36%2C1.08-.88.74-3.62%2C2.08-5.95%2C3.12-7.34.96-.3%2C1.85-.69%2C2.58-1.16.95-.6%2C1.22-1.85.62-2.8-.6-.94-1.85-1.22-2.8-.62-2.55%2C1.62-7.38%2C1.49-7.99.7-.06-.14-.11-.34-.06-.45.12-.27.68-.6%2C1.09-.74.4-.14%2C9.66-3.58%2C11.56-4.43.75-.35%2C1.52-.38%2C2.16-.11.67.29%2C1.2.94%2C1.48%2C1.73%2C0%2C.01.44%2C1.67.86%2C3.55.56%2C3.64.69%2C17.45-8.77%2C19.98-1.08.29-1.72%2C1.4-1.44%2C2.48.24.9%2C1.06%2C1.5%2C1.95%2C1.5.18%2C0%2C.35-.02.53-.07%2C12.21-3.27%2C12.56-19.23%2C11.72-24.57h0Z%22%2F%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%3C%2Fsvg%3E\");\n            background-size: 28%;\n            background-repeat: repeat;\n            animation: moveBackground 5s linear infinite;\n            transform: rotate(10deg);\n        }\n\n        @keyframes moveBackground {\n            0% {\n                background-position: 0 0;\n            }\n\n            100% {\n                background-position: -200px -200px;\n            }\n        }\n\n        #container {\n            width: 70%;\n            padding: 40px;\n            color: #FFF;\n            text-align: center;\n            border: 5px solid #FFF;\n            box-shadow: 0px 0px 0px 5px #000, 0px 0px 0px 3px #000 inset;\n            border-radius: 20px;\n            background: rgba(0, 0, 0, 0.8);\n        }\n\n        #time {\n            font-size: 10vw;\n            margin-bottom: 30px;\n            color: #FFF;\n            text-shadow: 2px 2px #333;\n        }\n\n        #score {\n            font-size: 48px;\n            margin-bottom: 30px;\n            color: #0fbcf9;\n            text-shadow: 2px 2px #333;\n        }\n\n        button {\n            font-size: 3vw;\n            font-family: 'M PLUS Rounded 1c', sans-serif;\n            color: #fff;\n            padding: 10px 80px;\n            text-align: center;\n            background-color: #f39800;\n            border-radius: 100px;\n            border: none;\n            cursor: pointer;\n            transition: background-color 0.3s;\n            text-transform: uppercase;\n        }\n\n        #rankingButton {\n            display: none;\n            background-color: #e94560;\n        }\n    </style>\n</head>\n\n<body>\n    <div class=\"back\"></div>\n    <audio id=\"bgm\" loop>\n        <source src=\"https://s3.isk01.sakurastorage.jp/jankengun/bgm.mp3\" type=\"audio/mp3\">\n    </audio>\n    <div id=\"container\">\n        <div id=\"time\">50.000</div>\n        <div id=\"score\">現在のスコア: 0</div>\n        <button id=\"startButton\" class=\"btn\">スタート</button>\n        <button id=\"rankingButton\" class=\"btn\">ランキング画面へ移動</button>\n    </div>\n    <script>\n        const pointUpSE = new Audio('https://s3.isk01.sakurastorage.jp/jankengun/pointUp.mp3')\n        const finishSE= new Audio('https://s3.isk01.sakurastorage.jp/jankengun/finish.mp3')\n        const urlParams = new URLSearchParams(window.location.search)\n        const playerId = urlParams.get('playerId')\n        let pollingScore\n        function startGame() {\n            const startButton = document.getElementById('startButton')\n            try {\n                const bgm = document.getElementById('bgm')\n                bgm.play()\n            } catch (e) {\n                console.error(e)\n            }\n            startButton.style.display = 'none'\n            let timeLeft = 50 * 1000\n            const timeDisplay = document.getElementById('time')\n            timeDisplay.textContent = (timeLeft / 1000).toFixed(3)\n\n            const scoreDisplay = document.getElementById('score')\n            pollingScore = setInterval(function() {\n                fetch(`/score/${playerId}`, {\n                    method: 'GET',\n                }).then((res) =>\n                    res.json()\n                ).then((res) => {\n                    const newContent = `現在のスコア: ${res.score}`\n                    if (scoreDisplay.textContent !== newContent) {\n                        pointUpSE.play()\n                    }\n                    scoreDisplay.textContent = newContent\n                })\n            }, 100)\n            // カウントダウンを開始\n            const countdown = setInterval(function() {\n                timeLeft -= 10\n                timeDisplay.textContent = (timeLeft / 1000).toFixed(3)\n                \n                if (timeLeft <= 0) {\n                    clearInterval(countdown)\n                    timeDisplay.textContent='終了！！！'\n                    bgm.pause()\n                    finishSE.play()\n                    fetch('/player', {\n                        method: 'PUT',\n                        headers: {\n                            'Content-Type': 'application/json',\n                        },\n                        body: JSON.stringify({\n                            playerId,\n                            state: 'wait'\n                        })\n                    }).then(() =>\n                        document.getElementById('rankingButton').style.display='inline'\n                    );          \n                } \n            }, 10);\n        }\n        document.getElementById('startButton').addEventListener('click', function() {\n            fetch('/player', {\n                method: 'PUT',\n                headers: {\n                    'Content-Type': 'application/json',\n                },\n                body: JSON.stringify({\n                    playerId,\n                    state: 'start'\n                })\n            }).then(() =>\n                startGame()\n            )\n        });\n\n        // ランキングボタンのクリックイベント\n        document.getElementById('rankingButton').addEventListener('click', async function() {\n            clearInterval(pollingScore)\n            await fetch('/player', {\n                method: 'PUT',\n                headers: {\n                    'Content-Type': 'application/json',\n                },\n                    body: JSON.stringify({\n                    playerId,\n                    state: 'end'\n                })\n            });\n            document.location = `/ui/rank?playerId=${playerId}`\n        })\n    </script>\n</body>\n\n</html>",
        "output": "str",
        "x": 410,
        "y": 220,
        "wires": [
            [
                "d6197be8801bbc25"
            ]
        ]
    },
    {
        "id": "d6197be8801bbc25",
        "type": "http response",
        "z": "19e85b17e8f1d4c5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 220,
        "wires": []
    },
    {
        "id": "25f339d78df23b29",
        "type": "comment",
        "z": "19e85b17e8f1d4c5",
        "name": "UI",
        "info": "",
        "x": 170,
        "y": 80,
        "wires": []
    },
    {
        "id": "4ad5b3ef04b3ae31",
        "type": "comment",
        "z": "19e85b17e8f1d4c5",
        "name": "API",
        "info": "",
        "x": 150,
        "y": 360,
        "wires": []
    },
    {
        "id": "d4ba9051523bf259",
        "type": "http in",
        "z": "19e85b17e8f1d4c5",
        "name": "",
        "url": "/ui/rank",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 280,
        "wires": [
            [
                "1c1f73a1c3df851c"
            ]
        ]
    },
    {
        "id": "1c1f73a1c3df851c",
        "type": "template",
        "z": "19e85b17e8f1d4c5",
        "name": "ランキング画面",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "plain",
        "template": "<!DOCTYPE html>\n<html lang=\"ja\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>ランキング表示ページ</title>\n    <link href=\"https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap\" rel=\"stylesheet\">\n    <style>\n        body {\n            font-family: 'M PLUS Rounded 1c', sans-serif;\n            font-weight: 700;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            height: 100vh;\n            overflow: hidden;\n            padding: 0;\n            margin: 0;\n        }\n\n        .back {\n            position: fixed;\n            top: -50%;\n            left: -50%;\n            width: 200%;\n            height: 200%;\n            background-color: #ffbb49;\n            z-index: -1;\n            background-image: url(\"data:image/svg+xml,%3Csvg%20id%3D%22back%22%20data-name%3D%22back%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20296.69%20296.69%22%3E%20%3Cdefs%3E%20%3Cstyle%3E%20.cls-1%20%7B%20fill%3A%20none%3B%20%7D%20.cls-1%2C%20.cls-2%20%7B%20stroke-width%3A%200px%3B%20%7D%20.cls-2%20%7B%20fill%3A%20%23fae7ca%3B%20%7D%20%3C%2Fstyle%3E%20%3C%2Fdefs%3E%20%3Cg%20id%3D%22back%22%20data-name%3D%22back%22%3E%20%3Cg%3E%20%3Crect%20class%3D%22cls-1%22%20width%3D%22296.69%22%20height%3D%22296.69%22%2F%3E%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M145.77%2C38.13v-4.51s0-.05%2C0-.07v-3.83c0-1.34.86-2.47%2C1.89-2.47s1.88%2C1.12%2C1.89%2C2.45v4.58s0%2C0%2C0%2C0v2.43c-1.38.52-2.69%2C1.02-3.77%2C1.42h0ZM139.7%2C44.28c-1.03%2C0-1.89-1.13-1.89-2.47v-8.19c0-1.34.86-2.47%2C1.89-2.47s1.84%2C1.08%2C1.88%2C2.38v6.73s0%2C.02%2C0%2C.03v.53c0%2C.09.04.17.05.26-.08.14-.17.26-.24.41-.25.53-.46%2C1.26-.44%2C2.14-.22.26-.65.65-1.26.65h0ZM131.74%2C44.28c-1.02%2C0-1.88-1.12-1.89-2.45v-4.33c0-1.33.87-2.45%2C1.89-2.45s1.89%2C1.13%2C1.89%2C2.47v4.29c0%2C1.34-.86%2C2.47-1.89%2C2.47h0ZM155.6%2C26.47c1.02%2C0%2C1.89%2C1.19%2C1.89%2C2.59v4.56c-.87.36-2.22.89-3.78%2C1.49v-5.4s0-.01%2C0-.02v-.64c0-1.4.86-2.59%2C1.89-2.59h0ZM169.58%2C42.58s-.02-.04-.03-.06c0-.02%2C0-.05%2C0-.07-.52-2.29-1.06-4.34-1.11-4.5-1.01-2.9-2.84-4.2-4.2-4.79-.82-.35-1.69-.5-2.58-.53v-3.57c0-3.73-2.72-6.77-6.07-6.77-1.72%2C0-3.26.81-4.37%2C2.09-1.01-.82-2.24-1.32-3.59-1.32-2.62%2C0-4.84%2C1.84-5.68%2C4.39-.7-.31-1.46-.49-2.27-.49-2.62%2C0-4.84%2C1.84-5.69%2C4.4-.7-.31-1.47-.49-2.27-.49-3.06%2C0-5.58%2C2.51-5.99%2C5.74-.03.14-.08.26-.08.41v.48s0%2C.01%2C0%2C.02v4.29s0%2C.01%2C0%2C.02v2.93c0%2C5.59%2C0%2C22.59%2C13.35%2C27.15.22.08.45.11.68.11.87%2C0%2C1.68-.55%2C1.98-1.42.37-1.09-.21-2.28-1.3-2.65-6.54-2.24-9.89-8.58-10.43-19.83.57.2%2C1.17.33%2C1.8.33%2C1.53%2C0%2C2.91-.64%2C3.98-1.67%2C1.07%2C1.03%2C2.45%2C1.67%2C3.98%2C1.67%2C1.13%2C0%2C2.21-.38%2C3.16-1.01.51.39%2C1.16.74%2C2.01%2C1.01%2C1.09.35%2C2.4.51%2C3.77.51.8%2C0%2C1.63-.06%2C2.46-.17-1.05%2C1.83-2.1%2C4.31-2.76%2C7.57-.12.61.27%2C1.21.89%2C1.33.08.01.15.02.23.02.53%2C0%2C1-.37%2C1.11-.91.87-4.33%2C2.5-7.13%2C3.73-8.73%2C1.06-.34%2C2.03-.78%2C2.83-1.29.97-.62%2C1.26-1.91.63-2.88-.62-.97-1.92-1.25-2.89-.63-2.09%2C1.34-6.42%2C1.93-8.73%2C1.19-.65-.21-.86-.43-.88-.48-.19-.47-.1-.65-.07-.72.19-.42.9-.82%2C1.39-.99.45-.17%2C11.15-4.15%2C13.32-5.15.94-.43%2C1.9-.47%2C2.7-.13.84.36%2C1.5%2C1.16%2C1.85%2C2.16%2C0%2C.01.51%2C1.93%2C1%2C4.1.67%2C4.21.88%2C20.41-10.26%2C23.42-1.12.3-1.77%2C1.45-1.47%2C2.56.25.93%2C1.1%2C1.54%2C2.01%2C1.54.18%2C0%2C.36-.02.55-.07%2C13.93-3.76%2C14.27-22.03%2C13.29-28.13h0Z%22%2F%3E%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M276.07%2C48.02c-.05-.09-.11-.17-.18-.26-3.36-4.18-10.34.13-11.13.63l-1.18.7%2C7.59-16.91c.62-1.38.75-2.9.37-4.27-.41-1.49-1.41-2.69-2.74-3.28-1.32-.6-2.88-.55-4.27.14-1.28.63-2.33%2C1.74-2.94%2C3.11l-5.28%2C11.76v-14.39c0-3.27-2.35-5.93-5.25-5.93s-5.25%2C2.66-5.25%2C5.93v10.89l-1.61-7.13c-.31-1.45-1.09-2.76-2.21-3.64-1.21-.96-2.72-1.34-4.15-1.04-1.42.3-2.65%2C1.26-3.37%2C2.63-.66%2C1.26-.86%2C2.77-.54%2C4.25l1.5%2C7.11-.65-1.12c-.75-1.31-1.91-2.31-3.24-2.8-1.45-.55-3.01-.44-4.26.29-2.51%2C1.45-3.22%2C4.93-1.59%2C7.76l4.21%2C7.3%2C1.1%2C2.81c.14.44.31%2C1.12.31%2C1.35v1.31c0%2C8.21%2C1.34%2C16.27%2C11.06%2C19.68.22.08.44.11.67.11.83%2C0%2C1.61-.52%2C1.9-1.35.37-1.05-.18-2.2-1.23-2.57-6.99-2.45-8.36-7.68-8.36-15.88v-1.31c0-1.04-.43-2.36-.56-2.74l-1.18-3.02c-.03-.1-.08-.19-.13-.27l-4.28-7.43c-.54-.94-.38-1.96.11-2.25.3-.17.65-.08.84%2C0%2C.45.17.87.55%2C1.16%2C1.04l4.28%2C7.43c.56.84%2C2.04%2C3.06%2C4%2C2.2%2C1.1-.48%2C1.68-1.69%2C1.52-3.15%2C0-.06-.02-.13-.03-.19l-3.18-15.12c-.12-.56-.05-1.12.17-1.55.1-.18.3-.49.64-.56.34-.07.65.13.8.25.38.3.66.79.78%2C1.35l3.31%2C14.61c.03.12.07.24.12.36.54%2C1.25%2C1.8%2C2.63%2C3.54%2C2.42%2C1.56-.19%2C2.59-1.64%2C2.62-3.69v-18.32c0-1.08.64-1.89%2C1.22-1.89s1.22.81%2C1.22%2C1.89v19.71c0%2C.19.03.38.08.56.15.52.77%2C2.25%2C2.42%2C2.49%2C1.19.18%2C2.34-.56%2C3.06-1.96l7.42-16.51c.23-.52.62-.94%2C1.05-1.15.18-.09.53-.22.84-.08.31.14.45.49.5.68.13.47.07%2C1.03-.16%2C1.55l-7.96%2C17.73c-.27.59-.94%2C2.09-.7%2C3.54-2.59%2C1.48-7.29%2C4.76-8.12%2C9.44-.11.59.29%2C1.16.88%2C1.27.07.01.13.02.2.02.52%2C0%2C.98-.37%2C1.07-.9.68-3.78%2C4.79-6.62%2C7.06-7.92.72.58%2C1.62.76%2C2.26.69.29-.03.57-.12.82-.27l3.88-2.31c1.85-1.18%2C4.82-2.31%2C5.74-1.65.08.31.14%2C1.11-.81%2C2.15-1.6%2C1.76-6.05%2C5.33-7.62%2C6.56-.35.27-.59.65-.71%2C1.07-.71%2C2.67-3.54%2C9.88-7.94%2C11.07-1.08.29-1.71%2C1.4-1.42%2C2.47.29%2C1.07%2C1.39%2C1.71%2C2.47%2C1.42%2C6.6-1.79%2C9.8-10.71%2C10.59-13.26%2C1.49-1.18%2C5.8-4.64%2C7.61-6.62%2C2.58-2.82%2C2.01-5.74%2C1.27-7.02h0Z%22%2F%3E%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M51.53%2C43.21l4.9-17.89c.16-.57.49-1.06.92-1.35.19-.13.58-.33.98-.22.73.2%2C1.12%2C1.29.83%2C2.32l-4.35%2C15.88c-.35.1-.7.2-1.05.36-.39.18-1.21.5-2.22.9h0ZM43.84%2C46.12c0-.06.01-.12%2C0-.19l-.09-.43c-.04-.27-.09-.54-.17-.81l-4.3-20.21c-.25-1.16.31-2.13.96-2.27.75-.15%2C1.58.61%2C1.8%2C1.68l4.53%2C21.21c-.99.37-1.93.72-2.72%2C1.02h0ZM37%2C46.68l-1.56-3.37c-.23-.5-.29-1.06-.15-1.53.07-.22.23-.62.63-.8.14-.06.28-.09.44-.09.54%2C0%2C1.26.39%2C1.65%2C1.24l1.56%2C3.38c.08.17.1.34.14.51l.07.33c.02.24%2C0%2C.48-.06.7-.06.22-.23.62-.63.8-.59.27-1.58-.04-2.09-1.15h0ZM34.05%2C51.26c-.06.22-.23.62-.63.8-.58.27-1.58-.04-2.09-1.15l-1.56-3.37c-.23-.5-.29-1.06-.15-1.53.06-.22.23-.62.63-.8.14-.06.29-.09.44-.09.54%2C0%2C1.26.38%2C1.65%2C1.24l1.56%2C3.38c.23.5.29%2C1.06.15%2C1.53h0ZM63.92%2C50.5s-.02-.04-.02-.06c0-.02%2C0-.04%2C0-.06-.45-1.99-.92-3.78-.96-3.92-.89-2.59-2.53-3.76-3.75-4.28-.07-.03-.15-.04-.22-.07l4.1-14.96c.89-3.23-.76-6.51-3.67-7.31-1.45-.4-3.03-.11-4.34.78-1.23.84-2.13%2C2.13-2.54%2C3.63l-3.52%2C12.85-3-14.05c-.7-3.27-3.66-5.42-6.61-4.8-2.95.63-4.78%2C3.81-4.08%2C7.08l2.49%2C11.7c-.47-.13-.94-.21-1.43-.21-.75%2C0-1.47.16-2.15.47-1.35.63-2.38%2C1.84-2.82%2C3.34-.05.16-.06.32-.09.48-.2-.02-.4-.05-.61-.05-.75%2C0-1.47.16-2.15.47-1.35.63-2.38%2C1.84-2.82%2C3.34-.22.74-.28%2C1.52-.2%2C2.3%2C0%2C.06-.04.12-.04.19v4.98c-.02%2C4.88-.06%2C19.72%2C11.63%2C23.73.22.08.44.11.65.11.84%2C0%2C1.63-.53%2C1.92-1.37.36-1.06-.2-2.21-1.26-2.58-5.61-1.93-8.45-7.43-8.85-17.21.98.75%2C2.16%2C1.18%2C3.38%2C1.19.75%2C0%2C1.47-.16%2C2.15-.47%2C1.36-.63%2C2.38-1.84%2C2.82-3.34.04-.16.06-.32.09-.48.2.02.41.05.61.05.04%2C0%2C.08-.01.12-.01.06.37.16.76.32%2C1.18.35.85%2C1.17%2C2.01%2C3.15%2C2.64.96.31%2C2.11.45%2C3.32.46.61%2C0%2C1.23-.04%2C1.86-.11-.86%2C1.56-1.7%2C3.62-2.25%2C6.27-.12.59.26%2C1.17.85%2C1.29.07.02.15.02.22.02.51%2C0%2C.97-.36%2C1.08-.88.74-3.62%2C2.08-5.95%2C3.12-7.34.96-.3%2C1.85-.69%2C2.58-1.16.95-.6%2C1.22-1.85.62-2.8-.6-.94-1.85-1.22-2.8-.62-2.55%2C1.62-7.38%2C1.49-7.99.7-.06-.14-.11-.34-.06-.45.12-.27.68-.6%2C1.09-.74.4-.14%2C9.66-3.58%2C11.56-4.43.75-.35%2C1.52-.38%2C2.16-.11.67.29%2C1.2.94%2C1.48%2C1.73%2C0%2C.01.44%2C1.67.86%2C3.55.56%2C3.64.69%2C17.45-8.77%2C19.98-1.08.29-1.72%2C1.4-1.44%2C2.48.24.9%2C1.06%2C1.5%2C1.95%2C1.5.18%2C0%2C.35-.02.53-.07%2C12.21-3.27%2C12.56-19.23%2C11.72-24.57h0Z%22%2F%3E%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M145.77%2C138.06v-4.51s0-.05%2C0-.07v-3.83c0-1.34.86-2.47%2C1.89-2.47s1.88%2C1.12%2C1.89%2C2.45v4.58s0%2C0%2C0%2C0v2.43c-1.38.52-2.69%2C1.02-3.77%2C1.42h0ZM139.7%2C144.21c-1.03%2C0-1.89-1.13-1.89-2.47v-8.19c0-1.34.86-2.47%2C1.89-2.47s1.84%2C1.08%2C1.88%2C2.38v6.73s0%2C.02%2C0%2C.03v.53c0%2C.09.04.17.05.26-.08.14-.17.26-.24.41-.25.53-.46%2C1.26-.44%2C2.14-.22.26-.65.65-1.26.65h0ZM131.74%2C144.21c-1.02%2C0-1.88-1.12-1.89-2.45v-4.33c0-1.33.87-2.45%2C1.89-2.45s1.89%2C1.13%2C1.89%2C2.47v4.29c0%2C1.34-.86%2C2.47-1.89%2C2.47h0ZM155.6%2C126.4c1.02%2C0%2C1.89%2C1.19%2C1.89%2C2.59v4.56c-.87.36-2.22.89-3.78%2C1.49v-5.4s0-.01%2C0-.02v-.64c0-1.4.86-2.59%2C1.89-2.59h0ZM169.58%2C142.51s-.02-.04-.03-.06c0-.02%2C0-.05%2C0-.07-.52-2.29-1.06-4.34-1.11-4.5-1.01-2.9-2.84-4.2-4.2-4.79-.82-.35-1.69-.5-2.58-.53v-3.57c0-3.73-2.72-6.77-6.07-6.77-1.72%2C0-3.26.81-4.37%2C2.09-1.01-.82-2.24-1.32-3.59-1.32-2.62%2C0-4.84%2C1.84-5.68%2C4.39-.7-.31-1.46-.49-2.27-.49-2.62%2C0-4.84%2C1.84-5.69%2C4.4-.7-.31-1.47-.49-2.27-.49-3.06%2C0-5.58%2C2.51-5.99%2C5.74-.03.14-.08.26-.08.41v.48s0%2C.01%2C0%2C.02v4.29s0%2C.01%2C0%2C.02v2.93c0%2C5.59%2C0%2C22.59%2C13.35%2C27.15.22.08.45.11.68.11.87%2C0%2C1.68-.55%2C1.98-1.42.37-1.09-.21-2.28-1.3-2.65-6.54-2.24-9.89-8.58-10.43-19.83.57.2%2C1.17.33%2C1.8.33%2C1.53%2C0%2C2.91-.64%2C3.98-1.67%2C1.07%2C1.03%2C2.45%2C1.67%2C3.98%2C1.67%2C1.13%2C0%2C2.21-.38%2C3.16-1.01.51.39%2C1.16.74%2C2.01%2C1.01%2C1.09.35%2C2.4.51%2C3.77.51.8%2C0%2C1.63-.06%2C2.46-.17-1.05%2C1.83-2.1%2C4.31-2.76%2C7.57-.12.61.27%2C1.21.89%2C1.33.08.01.15.02.23.02.53%2C0%2C1-.37%2C1.11-.91.87-4.33%2C2.5-7.13%2C3.73-8.73%2C1.06-.34%2C2.03-.78%2C2.83-1.29.97-.62%2C1.26-1.91.63-2.88-.62-.97-1.92-1.25-2.89-.63-2.09%2C1.34-6.42%2C1.93-8.73%2C1.19-.65-.21-.86-.43-.88-.48-.19-.47-.1-.65-.07-.72.19-.42.9-.82%2C1.39-.99.45-.17%2C11.15-4.15%2C13.32-5.15.94-.43%2C1.9-.47%2C2.7-.13.84.36%2C1.5%2C1.16%2C1.85%2C2.16%2C0%2C.01.51%2C1.93%2C1%2C4.1.67%2C4.21.88%2C20.41-10.26%2C23.42-1.12.3-1.77%2C1.45-1.47%2C2.56.25.93%2C1.1%2C1.54%2C2.01%2C1.54.18%2C0%2C.36-.02.55-.07%2C13.93-3.76%2C14.27-22.03%2C13.29-28.13h0Z%22%2F%3E%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M276.07%2C147.94c-.05-.09-.11-.17-.18-.26-3.36-4.18-10.34.13-11.13.63l-1.18.7%2C7.59-16.91c.62-1.38.75-2.9.37-4.27-.41-1.49-1.41-2.69-2.74-3.28-1.32-.6-2.88-.55-4.27.14-1.28.63-2.33%2C1.74-2.94%2C3.11l-5.28%2C11.76v-14.39c0-3.27-2.35-5.93-5.25-5.93s-5.25%2C2.66-5.25%2C5.93v10.89l-1.61-7.13c-.31-1.45-1.09-2.76-2.21-3.64-1.21-.96-2.72-1.34-4.15-1.04-1.42.3-2.65%2C1.26-3.37%2C2.63-.66%2C1.26-.86%2C2.77-.54%2C4.25l1.5%2C7.11-.65-1.12c-.75-1.31-1.91-2.31-3.24-2.8-1.45-.55-3.01-.44-4.26.29-2.51%2C1.45-3.22%2C4.93-1.59%2C7.76l4.21%2C7.3%2C1.1%2C2.81c.14.44.31%2C1.12.31%2C1.35v1.31c0%2C8.21%2C1.34%2C16.27%2C11.06%2C19.68.22.08.44.11.67.11.83%2C0%2C1.61-.52%2C1.9-1.35.37-1.05-.18-2.2-1.23-2.57-6.99-2.45-8.36-7.68-8.36-15.88v-1.31c0-1.04-.43-2.36-.56-2.74l-1.18-3.02c-.03-.1-.08-.19-.13-.27l-4.28-7.43c-.54-.94-.38-1.96.11-2.25.3-.17.65-.08.84%2C0%2C.45.17.87.55%2C1.16%2C1.04l4.28%2C7.43c.56.84%2C2.04%2C3.06%2C4%2C2.2%2C1.1-.48%2C1.68-1.69%2C1.52-3.15%2C0-.06-.02-.13-.03-.19l-3.18-15.12c-.12-.56-.05-1.12.17-1.55.1-.18.3-.49.64-.56.34-.07.65.13.8.25.38.3.66.79.78%2C1.35l3.31%2C14.61c.03.12.07.24.12.36.54%2C1.25%2C1.8%2C2.63%2C3.54%2C2.42%2C1.56-.19%2C2.59-1.64%2C2.62-3.69v-18.32c0-1.08.64-1.89%2C1.22-1.89s1.22.81%2C1.22%2C1.89v19.71c0%2C.19.03.38.08.56.15.52.77%2C2.25%2C2.42%2C2.49%2C1.19.18%2C2.34-.56%2C3.06-1.96l7.42-16.51c.23-.52.62-.94%2C1.05-1.15.18-.09.53-.22.84-.08.31.14.45.49.5.68.13.47.07%2C1.03-.16%2C1.55l-7.96%2C17.73c-.27.59-.94%2C2.09-.7%2C3.54-2.59%2C1.48-7.29%2C4.76-8.12%2C9.44-.11.59.29%2C1.16.88%2C1.27.07.01.13.02.2.02.52%2C0%2C.98-.37%2C1.07-.9.68-3.78%2C4.79-6.62%2C7.06-7.92.72.58%2C1.62.76%2C2.26.69.29-.03.57-.12.82-.27l3.88-2.31c1.85-1.18%2C4.82-2.31%2C5.74-1.65.08.31.14%2C1.11-.81%2C2.15-1.6%2C1.76-6.05%2C5.33-7.62%2C6.56-.35.27-.59.65-.71%2C1.07-.71%2C2.67-3.54%2C9.88-7.94%2C11.07-1.08.29-1.71%2C1.4-1.42%2C2.47.29%2C1.07%2C1.39%2C1.71%2C2.47%2C1.42%2C6.6-1.79%2C9.8-10.71%2C10.59-13.26%2C1.49-1.18%2C5.8-4.64%2C7.61-6.62%2C2.58-2.82%2C2.01-5.74%2C1.27-7.02h0Z%22%2F%3E%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M51.53%2C143.14l4.9-17.89c.16-.57.49-1.06.92-1.35.19-.13.58-.33.98-.22.73.2%2C1.12%2C1.29.83%2C2.32l-4.35%2C15.88c-.35.1-.7.2-1.05.36-.39.18-1.21.5-2.22.9h0ZM43.84%2C146.05c0-.06.01-.12%2C0-.19l-.09-.43c-.04-.27-.09-.54-.17-.81l-4.3-20.21c-.25-1.16.31-2.13.96-2.27.75-.15%2C1.58.61%2C1.8%2C1.68l4.53%2C21.21c-.99.37-1.93.72-2.72%2C1.02h0ZM37%2C146.6l-1.56-3.37c-.23-.5-.29-1.06-.15-1.53.07-.22.23-.62.63-.8.14-.06.28-.09.44-.09.54%2C0%2C1.26.39%2C1.65%2C1.24l1.56%2C3.38c.08.17.1.34.14.51l.07.33c.02.24%2C0%2C.48-.06.7-.06.22-.23.62-.63.8-.59.27-1.58-.04-2.09-1.15h0ZM34.05%2C151.18c-.06.22-.23.62-.63.8-.58.27-1.58-.04-2.09-1.15l-1.56-3.37c-.23-.5-.29-1.06-.15-1.53.06-.22.23-.62.63-.8.14-.06.29-.09.44-.09.54%2C0%2C1.26.38%2C1.65%2C1.24l1.56%2C3.38c.23.5.29%2C1.06.15%2C1.53h0ZM63.92%2C150.42s-.02-.04-.02-.06c0-.02%2C0-.04%2C0-.06-.45-1.99-.92-3.78-.96-3.92-.89-2.59-2.53-3.76-3.75-4.28-.07-.03-.15-.04-.22-.07l4.1-14.96c.89-3.23-.76-6.51-3.67-7.31-1.45-.4-3.03-.11-4.34.78-1.23.84-2.13%2C2.13-2.54%2C3.63l-3.52%2C12.85-3-14.05c-.7-3.27-3.66-5.42-6.61-4.8-2.95.63-4.78%2C3.81-4.08%2C7.08l2.49%2C11.7c-.47-.13-.94-.21-1.43-.21-.75%2C0-1.47.16-2.15.47-1.35.63-2.38%2C1.84-2.82%2C3.34-.05.16-.06.32-.09.48-.2-.02-.4-.05-.61-.05-.75%2C0-1.47.16-2.15.47-1.35.63-2.38%2C1.84-2.82%2C3.34-.22.74-.28%2C1.52-.2%2C2.3%2C0%2C.06-.04.12-.04.19v4.98c-.02%2C4.88-.06%2C19.72%2C11.63%2C23.73.22.08.44.11.65.11.84%2C0%2C1.63-.53%2C1.92-1.37.36-1.06-.2-2.21-1.26-2.58-5.61-1.93-8.45-7.43-8.85-17.21.98.75%2C2.16%2C1.18%2C3.38%2C1.19.75%2C0%2C1.47-.16%2C2.15-.47%2C1.36-.63%2C2.38-1.84%2C2.82-3.34.04-.16.06-.32.09-.48.2.02.41.05.61.05.04%2C0%2C.08-.01.12-.01.06.37.16.76.32%2C1.18.35.85%2C1.17%2C2.01%2C3.15%2C2.64.96.31%2C2.11.45%2C3.32.46.61%2C0%2C1.23-.04%2C1.86-.11-.86%2C1.56-1.7%2C3.62-2.25%2C6.27-.12.59.26%2C1.17.85%2C1.29.07.02.15.02.22.02.51%2C0%2C.97-.36%2C1.08-.88.74-3.62%2C2.08-5.95%2C3.12-7.34.96-.3%2C1.85-.69%2C2.58-1.16.95-.6%2C1.22-1.85.62-2.8-.6-.94-1.85-1.22-2.8-.62-2.55%2C1.62-7.38%2C1.49-7.99.7-.06-.14-.11-.34-.06-.45.12-.27.68-.6%2C1.09-.74.4-.14%2C9.66-3.58%2C11.56-4.43.75-.35%2C1.52-.38%2C2.16-.11.67.29%2C1.2.94%2C1.48%2C1.73%2C0%2C.01.44%2C1.67.86%2C3.55.56%2C3.64.69%2C17.45-8.77%2C19.98-1.08.29-1.72%2C1.4-1.44%2C2.48.24.9%2C1.06%2C1.5%2C1.95%2C1.5.18%2C0%2C.35-.02.53-.07%2C12.21-3.27%2C12.56-19.23%2C11.72-24.57h0Z%22%2F%3E%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M145.77%2C237.98v-4.51s0-.05%2C0-.07v-3.83c0-1.34.86-2.47%2C1.89-2.47s1.88%2C1.12%2C1.89%2C2.45v4.58s0%2C0%2C0%2C0v2.43c-1.38.52-2.69%2C1.02-3.77%2C1.42h0ZM139.7%2C244.13c-1.03%2C0-1.89-1.13-1.89-2.47v-8.19c0-1.34.86-2.47%2C1.89-2.47s1.84%2C1.08%2C1.88%2C2.38v6.73s0%2C.02%2C0%2C.03v.53c0%2C.09.04.17.05.26-.08.14-.17.26-.24.41-.25.53-.46%2C1.26-.44%2C2.14-.22.26-.65.65-1.26.65h0ZM131.74%2C244.13c-1.02%2C0-1.88-1.12-1.89-2.45v-4.33c0-1.33.87-2.45%2C1.89-2.45s1.89%2C1.13%2C1.89%2C2.47v4.29c0%2C1.34-.86%2C2.47-1.89%2C2.47h0ZM155.6%2C226.32c1.02%2C0%2C1.89%2C1.19%2C1.89%2C2.59v4.56c-.87.36-2.22.89-3.78%2C1.49v-5.4s0-.01%2C0-.02v-.64c0-1.4.86-2.59%2C1.89-2.59h0ZM169.58%2C242.43s-.02-.04-.03-.06c0-.02%2C0-.05%2C0-.07-.52-2.29-1.06-4.34-1.11-4.5-1.01-2.9-2.84-4.2-4.2-4.79-.82-.35-1.69-.5-2.58-.53v-3.57c0-3.73-2.72-6.77-6.07-6.77-1.72%2C0-3.26.81-4.37%2C2.09-1.01-.82-2.24-1.32-3.59-1.32-2.62%2C0-4.84%2C1.84-5.68%2C4.39-.7-.31-1.46-.49-2.27-.49-2.62%2C0-4.84%2C1.84-5.69%2C4.4-.7-.31-1.47-.49-2.27-.49-3.06%2C0-5.58%2C2.51-5.99%2C5.74-.03.14-.08.26-.08.41v.48s0%2C.01%2C0%2C.02v4.29s0%2C.01%2C0%2C.02v2.93c0%2C5.59%2C0%2C22.59%2C13.35%2C27.15.22.08.45.11.68.11.87%2C0%2C1.68-.55%2C1.98-1.42.37-1.09-.21-2.28-1.3-2.65-6.54-2.24-9.89-8.58-10.43-19.83.57.2%2C1.17.33%2C1.8.33%2C1.53%2C0%2C2.91-.64%2C3.98-1.67%2C1.07%2C1.03%2C2.45%2C1.67%2C3.98%2C1.67%2C1.13%2C0%2C2.21-.38%2C3.16-1.01.51.39%2C1.16.74%2C2.01%2C1.01%2C1.09.35%2C2.4.51%2C3.77.51.8%2C0%2C1.63-.06%2C2.46-.17-1.05%2C1.83-2.1%2C4.31-2.76%2C7.57-.12.61.27%2C1.21.89%2C1.33.08.01.15.02.23.02.53%2C0%2C1-.37%2C1.11-.91.87-4.33%2C2.5-7.13%2C3.73-8.73%2C1.06-.34%2C2.03-.78%2C2.83-1.29.97-.62%2C1.26-1.91.63-2.88-.62-.97-1.92-1.25-2.89-.63-2.09%2C1.34-6.42%2C1.93-8.73%2C1.19-.65-.21-.86-.43-.88-.48-.19-.47-.1-.65-.07-.72.19-.42.9-.82%2C1.39-.99.45-.17%2C11.15-4.15%2C13.32-5.15.94-.43%2C1.9-.47%2C2.7-.13.84.36%2C1.5%2C1.16%2C1.85%2C2.16%2C0%2C.01.51%2C1.93%2C1%2C4.1.67%2C4.21.88%2C20.41-10.26%2C23.42-1.12.3-1.77%2C1.45-1.47%2C2.56.25.93%2C1.1%2C1.54%2C2.01%2C1.54.18%2C0%2C.36-.02.55-.07%2C13.93-3.76%2C14.27-22.03%2C13.29-28.13h0Z%22%2F%3E%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M276.07%2C247.87c-.05-.09-.11-.17-.18-.26-3.36-4.18-10.34.13-11.13.63l-1.18.7%2C7.59-16.91c.62-1.38.75-2.9.37-4.27-.41-1.49-1.41-2.69-2.74-3.28-1.32-.6-2.88-.55-4.27.14-1.28.63-2.33%2C1.74-2.94%2C3.11l-5.28%2C11.76v-14.39c0-3.27-2.35-5.93-5.25-5.93s-5.25%2C2.66-5.25%2C5.93v10.89l-1.61-7.13c-.31-1.45-1.09-2.76-2.21-3.64-1.21-.96-2.72-1.34-4.15-1.04-1.42.3-2.65%2C1.26-3.37%2C2.63-.66%2C1.26-.86%2C2.77-.54%2C4.25l1.5%2C7.11-.65-1.12c-.75-1.31-1.91-2.31-3.24-2.8-1.45-.55-3.01-.44-4.26.29-2.51%2C1.45-3.22%2C4.93-1.59%2C7.76l4.21%2C7.3%2C1.1%2C2.81c.14.44.31%2C1.12.31%2C1.35v1.31c0%2C8.21%2C1.34%2C16.27%2C11.06%2C19.68.22.08.44.11.67.11.83%2C0%2C1.61-.52%2C1.9-1.35.37-1.05-.18-2.2-1.23-2.57-6.99-2.45-8.36-7.68-8.36-15.88v-1.31c0-1.04-.43-2.36-.56-2.74l-1.18-3.02c-.03-.1-.08-.19-.13-.27l-4.28-7.43c-.54-.94-.38-1.96.11-2.25.3-.17.65-.08.84%2C0%2C.45.17.87.55%2C1.16%2C1.04l4.28%2C7.43c.56.84%2C2.04%2C3.06%2C4%2C2.2%2C1.1-.48%2C1.68-1.69%2C1.52-3.15%2C0-.06-.02-.13-.03-.19l-3.18-15.12c-.12-.56-.05-1.12.17-1.55.1-.18.3-.49.64-.56.34-.07.65.13.8.25.38.3.66.79.78%2C1.35l3.31%2C14.61c.03.12.07.24.12.36.54%2C1.25%2C1.8%2C2.63%2C3.54%2C2.42%2C1.56-.19%2C2.59-1.64%2C2.62-3.69v-18.32c0-1.08.64-1.89%2C1.22-1.89s1.22.81%2C1.22%2C1.89v19.71c0%2C.19.03.38.08.56.15.52.77%2C2.25%2C2.42%2C2.49%2C1.19.18%2C2.34-.56%2C3.06-1.96l7.42-16.51c.23-.52.62-.94%2C1.05-1.15.18-.09.53-.22.84-.08.31.14.45.49.5.68.13.47.07%2C1.03-.16%2C1.55l-7.96%2C17.73c-.27.59-.94%2C2.09-.7%2C3.54-2.59%2C1.48-7.29%2C4.76-8.12%2C9.44-.11.59.29%2C1.16.88%2C1.27.07.01.13.02.2.02.52%2C0%2C.98-.37%2C1.07-.9.68-3.78%2C4.79-6.62%2C7.06-7.92.72.58%2C1.62.76%2C2.26.69.29-.03.57-.12.82-.27l3.88-2.31c1.85-1.18%2C4.82-2.31%2C5.74-1.65.08.31.14%2C1.11-.81%2C2.15-1.6%2C1.76-6.05%2C5.33-7.62%2C6.56-.35.27-.59.65-.71%2C1.07-.71%2C2.67-3.54%2C9.88-7.94%2C11.07-1.08.29-1.71%2C1.4-1.42%2C2.47.29%2C1.07%2C1.39%2C1.71%2C2.47%2C1.42%2C6.6-1.79%2C9.8-10.71%2C10.59-13.26%2C1.49-1.18%2C5.8-4.64%2C7.61-6.62%2C2.58-2.82%2C2.01-5.74%2C1.27-7.02h0Z%22%2F%3E%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M51.53%2C243.06l4.9-17.89c.16-.57.49-1.06.92-1.35.19-.13.58-.33.98-.22.73.2%2C1.12%2C1.29.83%2C2.32l-4.35%2C15.88c-.35.1-.7.2-1.05.36-.39.18-1.21.5-2.22.9h0ZM43.84%2C245.97c0-.06.01-.12%2C0-.19l-.09-.43c-.04-.27-.09-.54-.17-.81l-4.3-20.21c-.25-1.16.31-2.13.96-2.27.75-.15%2C1.58.61%2C1.8%2C1.68l4.53%2C21.21c-.99.37-1.93.72-2.72%2C1.02h0ZM37%2C246.53l-1.56-3.37c-.23-.5-.29-1.06-.15-1.53.07-.22.23-.62.63-.8.14-.06.28-.09.44-.09.54%2C0%2C1.26.39%2C1.65%2C1.24l1.56%2C3.38c.08.17.1.34.14.51l.07.33c.02.24%2C0%2C.48-.06.7-.06.22-.23.62-.63.8-.59.27-1.58-.04-2.09-1.15h0ZM34.05%2C251.11c-.06.22-.23.62-.63.8-.58.27-1.58-.04-2.09-1.15l-1.56-3.37c-.23-.5-.29-1.06-.15-1.53.06-.22.23-.62.63-.8.14-.06.29-.09.44-.09.54%2C0%2C1.26.38%2C1.65%2C1.24l1.56%2C3.38c.23.5.29%2C1.06.15%2C1.53h0ZM63.92%2C250.35s-.02-.04-.02-.06c0-.02%2C0-.04%2C0-.06-.45-1.99-.92-3.78-.96-3.92-.89-2.59-2.53-3.76-3.75-4.28-.07-.03-.15-.04-.22-.07l4.1-14.96c.89-3.23-.76-6.51-3.67-7.31-1.45-.4-3.03-.11-4.34.78-1.23.84-2.13%2C2.13-2.54%2C3.63l-3.52%2C12.85-3-14.05c-.7-3.27-3.66-5.42-6.61-4.8-2.95.63-4.78%2C3.81-4.08%2C7.08l2.49%2C11.7c-.47-.13-.94-.21-1.43-.21-.75%2C0-1.47.16-2.15.47-1.35.63-2.38%2C1.84-2.82%2C3.34-.05.16-.06.32-.09.48-.2-.02-.4-.05-.61-.05-.75%2C0-1.47.16-2.15.47-1.35.63-2.38%2C1.84-2.82%2C3.34-.22.74-.28%2C1.52-.2%2C2.3%2C0%2C.06-.04.12-.04.19v4.98c-.02%2C4.88-.06%2C19.72%2C11.63%2C23.73.22.08.44.11.65.11.84%2C0%2C1.63-.53%2C1.92-1.37.36-1.06-.2-2.21-1.26-2.58-5.61-1.93-8.45-7.43-8.85-17.21.98.75%2C2.16%2C1.18%2C3.38%2C1.19.75%2C0%2C1.47-.16%2C2.15-.47%2C1.36-.63%2C2.38-1.84%2C2.82-3.34.04-.16.06-.32.09-.48.2.02.41.05.61.05.04%2C0%2C.08-.01.12-.01.06.37.16.76.32%2C1.18.35.85%2C1.17%2C2.01%2C3.15%2C2.64.96.31%2C2.11.45%2C3.32.46.61%2C0%2C1.23-.04%2C1.86-.11-.86%2C1.56-1.7%2C3.62-2.25%2C6.27-.12.59.26%2C1.17.85%2C1.29.07.02.15.02.22.02.51%2C0%2C.97-.36%2C1.08-.88.74-3.62%2C2.08-5.95%2C3.12-7.34.96-.3%2C1.85-.69%2C2.58-1.16.95-.6%2C1.22-1.85.62-2.8-.6-.94-1.85-1.22-2.8-.62-2.55%2C1.62-7.38%2C1.49-7.99.7-.06-.14-.11-.34-.06-.45.12-.27.68-.6%2C1.09-.74.4-.14%2C9.66-3.58%2C11.56-4.43.75-.35%2C1.52-.38%2C2.16-.11.67.29%2C1.2.94%2C1.48%2C1.73%2C0%2C.01.44%2C1.67.86%2C3.55.56%2C3.64.69%2C17.45-8.77%2C19.98-1.08.29-1.72%2C1.4-1.44%2C2.48.24.9%2C1.06%2C1.5%2C1.95%2C1.5.18%2C0%2C.35-.02.53-.07%2C12.21-3.27%2C12.56-19.23%2C11.72-24.57h0Z%22%2F%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%3C%2Fsvg%3E\");\n            background-size: 28%;\n            background-repeat: repeat;\n            animation: moveBackground 5s linear infinite;\n            transform: rotate(10deg);\n        }\n\n        @keyframes moveBackground {\n            0% {\n                background-position: 0 0;\n            }\n\n            100% {\n                background-position: -200px -200px;\n            }\n        }\n\n        .rank_box {\n            width: 70%;\n        }\n\n        .ranking-container {\n            padding: 40px;\n            color: #FFF;\n            text-align: center;\n            border: 5px solid #FFF;\n            box-shadow: 0px 0px 0px 5px #000, 0px 0px 0px 3px #000 inset;\n            border-radius: 20px;\n            background: rgba(0, 0, 0, 0.8);\n        }\n\n        .myrank {\n            margin: 0 0 40px;\n            font-size: 3.5vw;\n        }\n\n        .myrank span {\n            color: #ff3e3e;\n            font-size: 8vw;\n            margin: 0 10px;\n        }\n\n        h1 {\n            display: block;\n            margin-bottom: 10px;\n            font-size: 3vw;\n            color: #FFF;\n            text-shadow:\n                -2px -2px 0 #000,\n                2px -2px 0 #000,\n                -2px 2px 0 #000,\n                2px 2px 0 #000;\n            /* 枠線の太さを2pxに設定 */\n            animation: blinker 2.5s linear infinite;\n        }\n\n        #ranking-list {\n            list-style: none;\n            padding: 0;\n            text-align: left;\n            overflow-y: scroll;\n            height: 30vh;\n        }\n\n        #ranking-list li {\n            padding: 10px;\n            font-size: 2.3vw;\n            border-bottom: 1px solid #444;\n        }\n\n        .player-name {\n            font-weight: bold;\n        }\n\n        .player-score {\n            float: right;\n        }\n\n        .highlight {\n            background-color: #ffcc00;\n            color: #000;\n        }\n\n\n        .btn {\n            display: block;\n            margin: 30px auto 50px;\n            font-size: 3vw;\n            font-family: 'M PLUS Rounded 1c', sans-serif;\n            color: #fff;\n            padding: 10px 80px;\n            text-align: center;\n            background-color: #666;\n            border-radius: 100px;\n            border: 5px solid #FFF;\n            cursor: pointer;\n            transition: background-color 0.3s;\n            text-transform: uppercase;\n        }\n    </style>\n</head>\n\n<body>\n    <div class=\"back\"></div>\n    <audio id=\"bgm\" loop>\n        <source src=\"https://s3.isk01.sakurastorage.jp/jankengun/result.mp3\" type=\"audio/mp3\">\n    </audio>\n    <div class=\"rank_box\">\n        <div class=\"ranking-container\">\n            <p id=\"myrank\" class=\"myrank\">\n                あなたの順位<span>9999</span>位\n            </p>\n            <h1>ハイスコアランキング</h1>\n            <ol id=\"ranking-list\"></ol>\n        </div>\n        <button class=\"back-button btn\" onclick=\"goBack()\">エントリー画面へ</button>\n    </div>\n\n    <script>\n        // URLパラメータからplayerIdを取得\n        const urlParams = new URLSearchParams(window.location.search);\n        const playerId = urlParams.get('playerId');\n\n        document.addEventListener(\"DOMContentLoaded\", () => {\n            try {\n                const bgm = document.getElementById('bgm')\n                bgm.play()\n            } catch (e) {\n                console.error(e)\n            }\n            fetch('/ranking', {\n                method: 'GET',\n            }).then((res) =>\n                res.json()\n            ).then((res) => {\n                // ソートされたデータをランキングとして表示\n                const rankingList = document.getElementById(\"ranking-list\");\n                const myRank = document.getElementById(\"myrank\");\n                res.forEach((player, index) => {\n                    const listItem = document.createElement(\"li\");\n                    listItem.innerHTML =\n                    `<span class=\"player-name\">${player.rank}. ${player.playerName}</span><span class=\"player-score\">${player.score}</span>`;\n                    if (playerId && playerId === player.playerId) {\n                        listItem.classList.add(\"highlight\");\n                        myRank.innerHTML = `あなたの順位<span>${player.rank}</span>位`\n                    }\n                    rankingList.appendChild(listItem);\n                });\n            })\n        });\n\n        function goBack() {\n            window.location.href = '/ui/entry';\n        }\n    </script>\n</body>\n\n</html>",
        "output": "str",
        "x": 420,
        "y": 280,
        "wires": [
            [
                "e702ba550049f896"
            ]
        ]
    },
    {
        "id": "e702ba550049f896",
        "type": "http response",
        "z": "19e85b17e8f1d4c5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 280,
        "wires": []
    },
    {
        "id": "ab30d4bb685144e3",
        "type": "function",
        "z": "19e85b17e8f1d4c5",
        "name": "concat score",
        "func": "const playerId = msg.payload\nconst score = global.get(playerId)\nreturn {\n    ...msg,\n    payload: {\n        playerId,\n        score,\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 740,
        "wires": [
            [
                "8089db8b0bb51705"
            ]
        ]
    },
    {
        "id": "5e256d42cd669e7e",
        "type": "function",
        "z": "19e85b17e8f1d4c5",
        "name": "calc score",
        "func": "const result = msg.payload.result\nconst playerId = global.get('latestPlayerId')\nconst state = global.get('state')\nif (!playerId || !state) {\n    return {\n        ...msg,\n        payload: 'not found',\n    };\n}\nlet score = Number(global.get(playerId))\nif (state === 'start' || state === 'wait') {\n    if (result === 'win') {\n        score += 1;\n    } else if (result === 'victory') {\n        score += 2;\n    }\n}\nglobal.set(playerId, score)\nreturn {\n    ...msg,\n    payload: {\n        playerId,\n        score,\n    },\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 580,
        "wires": [
            [
                "9865b943fa91df32"
            ]
        ]
    },
    {
        "id": "9865b943fa91df32",
        "type": "http response",
        "z": "19e85b17e8f1d4c5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 550,
        "y": 580,
        "wires": []
    },
    {
        "id": "34dc351a0fde6269",
        "type": "function",
        "z": "19e85b17e8f1d4c5",
        "name": "convert record",
        "func": "const name = msg.payload.name\nglobal.set('playerName', name)\nreturn {\n    ...msg,\n    payload: [\n        {\n            name : { value : name}\n        }\n    ]\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 420,
        "wires": [
            [
                "1d22c5f8480cea40"
            ]
        ]
    },
    {
        "id": "15f1edac382bd28a",
        "type": "http in",
        "z": "19e85b17e8f1d4c5",
        "name": "",
        "url": "/player",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "f44294540959bbae",
                "3bd23aa75d135704"
            ]
        ]
    },
    {
        "id": "f44294540959bbae",
        "type": "function",
        "z": "19e85b17e8f1d4c5",
        "name": "convert record",
        "func": "const playerId = msg.payload.playerId\nconst state = msg.payload.state\nglobal.set('state', state)\nconst score = Number(global.get(playerId))\nreturn {\n    ...msg,\n    payload: [\n        {\n            id: playerId,\n            record: {\n                state : { value: state },\n                score: { value: score },\n            }\n        }\n    ]\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 480,
        "wires": [
            [
                "d1f60f8924280fb1"
            ]
        ]
    },
    {
        "id": "d1f60f8924280fb1",
        "type": "kintone",
        "z": "19e85b17e8f1d4c5",
        "name": "update record",
        "config": "dd33eeebde491733",
        "appId": "8",
        "query": "",
        "records": "",
        "method": "PUT",
        "x": 580,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "3bd23aa75d135704",
        "type": "http response",
        "z": "19e85b17e8f1d4c5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 330,
        "y": 540,
        "wires": []
    },
    {
        "id": "8aac977fe5f521c0",
        "type": "http in",
        "z": "19e85b17e8f1d4c5",
        "name": "",
        "url": "/ranking",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 820,
        "wires": [
            [
                "5c8768268e37689f"
            ]
        ]
    },
    {
        "id": "5c8768268e37689f",
        "type": "kintone",
        "z": "19e85b17e8f1d4c5",
        "name": "fetch all",
        "config": "dd33eeebde491733",
        "appId": "8",
        "query": "state = \"end\"",
        "records": "",
        "method": "GET",
        "x": 300,
        "y": 820,
        "wires": [
            [
                "0fd8e1a352268b5d"
            ]
        ]
    },
    {
        "id": "0fd8e1a352268b5d",
        "type": "function",
        "z": "19e85b17e8f1d4c5",
        "name": "convert ranking records",
        "func": "const records = msg.payload.records;\n\nif (records.length === 0) {\n    return {\n        ...msg,\n        payload: records,\n    };\n}\n\nconst sortedRecords = records.map((record) => ({\n    playerId: record.id.value,\n    playerName: record.name.value,\n    score: Number(record.score.value)\n})).sort((a, b) => b.score - a.score);\n\nlet rank = 1;\nlet currentScore = sortedRecords[0].score;\nsortedRecords[0].rank = rank;\n\nfor (let i = 1; i < sortedRecords.length; i++) {\n    if (sortedRecords[i].score < currentScore) {\n        rank = i + 1;\n        currentScore = sortedRecords[i].score;\n    }\n    sortedRecords[i].rank = rank;\n}\n\nreturn {\n    ...msg,\n    payload: sortedRecords\n};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 820,
        "wires": [
            [
                "d7a5da9ebd51d9f0"
            ]
        ]
    },
    {
        "id": "d7a5da9ebd51d9f0",
        "type": "http response",
        "z": "19e85b17e8f1d4c5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 820,
        "wires": []
    },
    {
        "id": "f8404242ac58bd9b",
        "type": "http in",
        "z": "19e85b17e8f1d4c5",
        "name": "",
        "url": "/state",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 900,
        "wires": [
            [
                "65ee666b80387238"
            ]
        ]
    },
    {
        "id": "65ee666b80387238",
        "type": "function",
        "z": "19e85b17e8f1d4c5",
        "name": "concat state",
        "func": "const state = global.get('state') ?? 'end'\nreturn {\n    ...msg,\n    payload: {\n        state,\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 900,
        "wires": [
            [
                "7e27be34b8cf78c8"
            ]
        ]
    },
    {
        "id": "7e27be34b8cf78c8",
        "type": "http response",
        "z": "19e85b17e8f1d4c5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 900,
        "wires": []
    },
    {
        "id": "dd33eeebde491733",
        "type": "kintone-config",
        "name": "techseeker"
    }
]